*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#IDE config folders
.idea

# build files
**/target
target
.gradle
build
.travis.yml
.swagger-codegen/VERSION
.swagger-codegen-ignore
.settings/org.eclipse.jdt.core.prefs
.project
.classpath
.settings/org.eclipse.core.resources.prefs
