/*
 * CyberSource Merged Spec
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package Api;

import Invokers.ApiCallback;
import Invokers.ApiClient;
import Invokers.ApiException;
import Invokers.ApiResponse;
import Invokers.Configuration;
import Invokers.Pair;
import Invokers.ProgressRequestBody;
import Invokers.ProgressResponseBody;

import com.cybersource.authsdk.core.ConfigException;
import com.google.gson.reflect.TypeToken;

import java.io.IOException;
import java.io.InputStream;


import Model.AcpCompleteCheckoutRequest;
import Model.AcpCreateCheckoutSessionRequest;
import Model.AcpUpdateCheckoutSessionRequest;
import Model.InlineResponse20017;
import Model.InlineResponse20018;
import Model.InlineResponse20112;
import Model.InlineResponse40016;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import utilities.tracking.SdkTracker;
import com.cybersource.authsdk.util.mle.MLEUtility;
import com.cybersource.authsdk.util.mle.MLEException;

public class AcpCheckoutApi {
    private static Logger logger = LogManager.getLogger(AcpCheckoutApi.class);
    
    private ApiClient apiClient;

    public AcpCheckoutApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AcpCheckoutApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for cancelCheckout
     * @param sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call cancelCheckoutCall(String sessionId, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = null;
        if ("POST".equalsIgnoreCase("POST")) {
            localVarPostBody = "{}";
        }
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "cancelCheckout,cancelCheckoutAsync,cancelCheckoutWithHttpInfo,cancelCheckoutCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "cancelCheckout,cancelCheckoutAsync,cancelCheckoutWithHttpInfo,cancelCheckoutCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout_sessions/{session_id}/cancel"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("Idempotency-Key", apiClient.parameterToString(idempotencyKey));
        if (acceptLanguage != null)
        localVarHeaderParams.put("Accept-Language", apiClient.parameterToString(acceptLanguage));
        if (userAgent != null)
        localVarHeaderParams.put("User-Agent", apiClient.parameterToString(userAgent));
        if (requestId != null)
        localVarHeaderParams.put("Request-Id", apiClient.parameterToString(requestId));
        if (signature != null)
        localVarHeaderParams.put("Signature", apiClient.parameterToString(signature));
        if (timestamp != null)
        localVarHeaderParams.put("Timestamp", apiClient.parameterToString(timestamp));
        if (apIVersion != null)
        localVarHeaderParams.put("API-Version", apiClient.parameterToString(apIVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call cancelCheckoutValidateBeforeCall(String sessionId, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            logger.error("Missing the required parameter 'sessionId' when calling cancelCheckout(Async)");
            throw new ApiException("Missing the required parameter 'sessionId' when calling cancelCheckout(Async)");
        }
        
        
        okhttp3.Call call = cancelCheckoutCall(sessionId, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel Checkout ACP
     * Cancels an active ACP checkout session. No charge is made to the buyer.  This call is safe to make multiple times — cancelling an already-cancelled session returns a successful response without error.  Sessions also expire automatically after 30 minutes of inactivity, so explicit cancellation is optional but recommended to release any reserved inventory immediately. 
     * @param sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return InlineResponse20018
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20018 cancelCheckout(String sessionId, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'cancelCheckout' STARTED");
        ApiResponse<InlineResponse20018> resp = cancelCheckoutWithHttpInfo(sessionId, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion);
        logger.info("CALL TO METHOD 'cancelCheckout' ENDED");
        return resp.getData();
    }

    /**
     * Cancel Checkout ACP
     * Cancels an active ACP checkout session. No charge is made to the buyer.  This call is safe to make multiple times — cancelling an already-cancelled session returns a successful response without error.  Sessions also expire automatically after 30 minutes of inactivity, so explicit cancellation is optional but recommended to release any reserved inventory immediately. 
     * @param sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return ApiResponse&lt;InlineResponse20018&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20018> cancelCheckoutWithHttpInfo(String sessionId, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = cancelCheckoutValidateBeforeCall(sessionId, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20018>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel Checkout ACP (asynchronously)
     * Cancels an active ACP checkout session. No charge is made to the buyer.  This call is safe to make multiple times — cancelling an already-cancelled session returns a successful response without error.  Sessions also expire automatically after 30 minutes of inactivity, so explicit cancellation is optional but recommended to release any reserved inventory immediately. 
     * @param sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call cancelCheckoutAsync(String sessionId, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ApiCallback<InlineResponse20018> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = cancelCheckoutValidateBeforeCall(sessionId, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20018>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for completeCheckout
     * @param sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call completeCheckoutCall(String sessionId, AcpCompleteCheckoutRequest acpCompleteCheckoutRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(acpCompleteCheckoutRequest, AcpCompleteCheckoutRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "completeCheckout,completeCheckoutAsync,completeCheckoutWithHttpInfo,completeCheckoutCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "completeCheckout,completeCheckoutAsync,completeCheckoutWithHttpInfo,completeCheckoutCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout_sessions/{session_id}/complete"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("Idempotency-Key", apiClient.parameterToString(idempotencyKey));
        if (acceptLanguage != null)
        localVarHeaderParams.put("Accept-Language", apiClient.parameterToString(acceptLanguage));
        if (userAgent != null)
        localVarHeaderParams.put("User-Agent", apiClient.parameterToString(userAgent));
        if (requestId != null)
        localVarHeaderParams.put("Request-Id", apiClient.parameterToString(requestId));
        if (signature != null)
        localVarHeaderParams.put("Signature", apiClient.parameterToString(signature));
        if (timestamp != null)
        localVarHeaderParams.put("Timestamp", apiClient.parameterToString(timestamp));
        if (apIVersion != null)
        localVarHeaderParams.put("API-Version", apiClient.parameterToString(apIVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call completeCheckoutValidateBeforeCall(String sessionId, AcpCompleteCheckoutRequest acpCompleteCheckoutRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            logger.error("Missing the required parameter 'sessionId' when calling completeCheckout(Async)");
            throw new ApiException("Missing the required parameter 'sessionId' when calling completeCheckout(Async)");
        }
        
        // verify the required parameter 'acpCompleteCheckoutRequest' is set
        if (acpCompleteCheckoutRequest == null) {
            logger.error("Missing the required parameter 'acpCompleteCheckoutRequest' when calling completeCheckout(Async)");
            throw new ApiException("Missing the required parameter 'acpCompleteCheckoutRequest' when calling completeCheckout(Async)");
        }
        
        
        okhttp3.Call call = completeCheckoutCall(sessionId, acpCompleteCheckoutRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Complete Checkout ACP
     * **Final step of the ACP checkout flow.**  Submits payment and buyer information to place the order with the merchant. On success, the session transitions to &#x60;completed&#x60; and an &#x60;order_id&#x60; is returned confirming the merchant accepted the order.  Once completed, the session is immutable — it cannot be updated or cancelled.  **Payment token:** The &#x60;payment.token&#x60; must be a valid token from the payment provider configured for the merchant (e.g. a tokenized card from Stripe or Braintree). ACG forwards the token to the merchant&#39;s payment processor — it is never stored. 
     * @param sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return InlineResponse20017
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20017 completeCheckout(String sessionId, AcpCompleteCheckoutRequest acpCompleteCheckoutRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'completeCheckout' STARTED");
        ApiResponse<InlineResponse20017> resp = completeCheckoutWithHttpInfo(sessionId, acpCompleteCheckoutRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion);
        logger.info("CALL TO METHOD 'completeCheckout' ENDED");
        return resp.getData();
    }

    /**
     * Complete Checkout ACP
     * **Final step of the ACP checkout flow.**  Submits payment and buyer information to place the order with the merchant. On success, the session transitions to &#x60;completed&#x60; and an &#x60;order_id&#x60; is returned confirming the merchant accepted the order.  Once completed, the session is immutable — it cannot be updated or cancelled.  **Payment token:** The &#x60;payment.token&#x60; must be a valid token from the payment provider configured for the merchant (e.g. a tokenized card from Stripe or Braintree). ACG forwards the token to the merchant&#39;s payment processor — it is never stored. 
     * @param sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return ApiResponse&lt;InlineResponse20017&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20017> completeCheckoutWithHttpInfo(String sessionId, AcpCompleteCheckoutRequest acpCompleteCheckoutRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = completeCheckoutValidateBeforeCall(sessionId, acpCompleteCheckoutRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20017>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Complete Checkout ACP (asynchronously)
     * **Final step of the ACP checkout flow.**  Submits payment and buyer information to place the order with the merchant. On success, the session transitions to &#x60;completed&#x60; and an &#x60;order_id&#x60; is returned confirming the merchant accepted the order.  Once completed, the session is immutable — it cannot be updated or cancelled.  **Payment token:** The &#x60;payment.token&#x60; must be a valid token from the payment provider configured for the merchant (e.g. a tokenized card from Stripe or Braintree). ACG forwards the token to the merchant&#39;s payment processor — it is never stored. 
     * @param sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call completeCheckoutAsync(String sessionId, AcpCompleteCheckoutRequest acpCompleteCheckoutRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ApiCallback<InlineResponse20017> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = completeCheckoutValidateBeforeCall(sessionId, acpCompleteCheckoutRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20017>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createCheckoutSession
     * @param acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call createCheckoutSessionCall(AcpCreateCheckoutSessionRequest acpCreateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(acpCreateCheckoutSessionRequest, AcpCreateCheckoutSessionRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "createCheckoutSession,createCheckoutSessionAsync,createCheckoutSessionWithHttpInfo,createCheckoutSessionCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "createCheckoutSession,createCheckoutSessionAsync,createCheckoutSessionWithHttpInfo,createCheckoutSessionCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout_sessions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("Idempotency-Key", apiClient.parameterToString(idempotencyKey));
        if (acceptLanguage != null)
        localVarHeaderParams.put("Accept-Language", apiClient.parameterToString(acceptLanguage));
        if (userAgent != null)
        localVarHeaderParams.put("User-Agent", apiClient.parameterToString(userAgent));
        if (requestId != null)
        localVarHeaderParams.put("Request-Id", apiClient.parameterToString(requestId));
        if (signature != null)
        localVarHeaderParams.put("Signature", apiClient.parameterToString(signature));
        if (timestamp != null)
        localVarHeaderParams.put("Timestamp", apiClient.parameterToString(timestamp));
        if (apIVersion != null)
        localVarHeaderParams.put("API-Version", apiClient.parameterToString(apIVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call createCheckoutSessionValidateBeforeCall(AcpCreateCheckoutSessionRequest acpCreateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'acpCreateCheckoutSessionRequest' is set
        if (acpCreateCheckoutSessionRequest == null) {
            logger.error("Missing the required parameter 'acpCreateCheckoutSessionRequest' when calling createCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'acpCreateCheckoutSessionRequest' when calling createCheckoutSession(Async)");
        }
        
        
        okhttp3.Call call = createCheckoutSessionCall(acpCreateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create Checkout Session ACP
     * **Step 1 of the ACP checkout flow.**  Initiates a new ACP checkout session with the buyer&#39;s cart. ACG validates item availability against the merchant&#39;s catalog, calculates initial pricing and tax, and returns a session object with a unique &#x60;id&#x60;.  **Store the &#x60;id&#x60;** — every subsequent call in this checkout flow (update, complete, cancel) requires it.  The session remains active for 30 minutes. A new session must be created after expiry.  **Idempotency:** Supply an &#x60;Idempotency-Key&#x60; header to safely retry this call without creating duplicate sessions. 
     * @param acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return InlineResponse20112
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20112 createCheckoutSession(AcpCreateCheckoutSessionRequest acpCreateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'createCheckoutSession' STARTED");
        ApiResponse<InlineResponse20112> resp = createCheckoutSessionWithHttpInfo(acpCreateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion);
        logger.info("CALL TO METHOD 'createCheckoutSession' ENDED");
        return resp.getData();
    }

    /**
     * Create Checkout Session ACP
     * **Step 1 of the ACP checkout flow.**  Initiates a new ACP checkout session with the buyer&#39;s cart. ACG validates item availability against the merchant&#39;s catalog, calculates initial pricing and tax, and returns a session object with a unique &#x60;id&#x60;.  **Store the &#x60;id&#x60;** — every subsequent call in this checkout flow (update, complete, cancel) requires it.  The session remains active for 30 minutes. A new session must be created after expiry.  **Idempotency:** Supply an &#x60;Idempotency-Key&#x60; header to safely retry this call without creating duplicate sessions. 
     * @param acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return ApiResponse&lt;InlineResponse20112&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20112> createCheckoutSessionWithHttpInfo(AcpCreateCheckoutSessionRequest acpCreateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = createCheckoutSessionValidateBeforeCall(acpCreateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20112>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create Checkout Session ACP (asynchronously)
     * **Step 1 of the ACP checkout flow.**  Initiates a new ACP checkout session with the buyer&#39;s cart. ACG validates item availability against the merchant&#39;s catalog, calculates initial pricing and tax, and returns a session object with a unique &#x60;id&#x60;.  **Store the &#x60;id&#x60;** — every subsequent call in this checkout flow (update, complete, cancel) requires it.  The session remains active for 30 minutes. A new session must be created after expiry.  **Idempotency:** Supply an &#x60;Idempotency-Key&#x60; header to safely retry this call without creating duplicate sessions. 
     * @param acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call createCheckoutSessionAsync(AcpCreateCheckoutSessionRequest acpCreateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ApiCallback<InlineResponse20112> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = createCheckoutSessionValidateBeforeCall(acpCreateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20112>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getCheckoutSession
     * @param sessionId The unique identifier of the ACP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param acpGetCheckoutSessionRequest Empty request body. (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call getCheckoutSessionCall(String sessionId, Object acpGetCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(acpGetCheckoutSessionRequest, Object.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "false";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "getCheckoutSession,getCheckoutSessionAsync,getCheckoutSessionWithHttpInfo,getCheckoutSessionCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "getCheckoutSession,getCheckoutSessionAsync,getCheckoutSessionWithHttpInfo,getCheckoutSessionCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout_sessions/{session_id}"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("Idempotency-Key", apiClient.parameterToString(idempotencyKey));
        if (acceptLanguage != null)
        localVarHeaderParams.put("Accept-Language", apiClient.parameterToString(acceptLanguage));
        if (userAgent != null)
        localVarHeaderParams.put("User-Agent", apiClient.parameterToString(userAgent));
        if (requestId != null)
        localVarHeaderParams.put("Request-Id", apiClient.parameterToString(requestId));
        if (signature != null)
        localVarHeaderParams.put("Signature", apiClient.parameterToString(signature));
        if (timestamp != null)
        localVarHeaderParams.put("Timestamp", apiClient.parameterToString(timestamp));
        if (apIVersion != null)
        localVarHeaderParams.put("API-Version", apiClient.parameterToString(apIVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCheckoutSessionValidateBeforeCall(String sessionId, Object acpGetCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            logger.error("Missing the required parameter 'sessionId' when calling getCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'sessionId' when calling getCheckoutSession(Async)");
        }
        
        // verify the required parameter 'acpGetCheckoutSessionRequest' is set
        if (acpGetCheckoutSessionRequest == null) {
            logger.error("Missing the required parameter 'acpGetCheckoutSessionRequest' when calling getCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'acpGetCheckoutSessionRequest' when calling getCheckoutSession(Async)");
        }
        
        
        okhttp3.Call call = getCheckoutSessionCall(sessionId, acpGetCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Checkout Session ACP
     * Retrieves the current state of an ACP checkout session, including line items, buyer information,  and current totals.  Use this to: - Verify session status before presenting a checkout summary to the buyer - Resume an interrupted checkout flow - Poll for status after an async operation - Confirm a session has not expired before submitting payment 
     * @param sessionId The unique identifier of the ACP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param acpGetCheckoutSessionRequest Empty request body. (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return InlineResponse20112
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20112 getCheckoutSession(String sessionId, Object acpGetCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'getCheckoutSession' STARTED");
        ApiResponse<InlineResponse20112> resp = getCheckoutSessionWithHttpInfo(sessionId, acpGetCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion);
        logger.info("CALL TO METHOD 'getCheckoutSession' ENDED");
        return resp.getData();
    }

    /**
     * Get Checkout Session ACP
     * Retrieves the current state of an ACP checkout session, including line items, buyer information,  and current totals.  Use this to: - Verify session status before presenting a checkout summary to the buyer - Resume an interrupted checkout flow - Poll for status after an async operation - Confirm a session has not expired before submitting payment 
     * @param sessionId The unique identifier of the ACP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param acpGetCheckoutSessionRequest Empty request body. (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return ApiResponse&lt;InlineResponse20112&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20112> getCheckoutSessionWithHttpInfo(String sessionId, Object acpGetCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = getCheckoutSessionValidateBeforeCall(sessionId, acpGetCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20112>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Checkout Session ACP (asynchronously)
     * Retrieves the current state of an ACP checkout session, including line items, buyer information,  and current totals.  Use this to: - Verify session status before presenting a checkout summary to the buyer - Resume an interrupted checkout flow - Poll for status after an async operation - Confirm a session has not expired before submitting payment 
     * @param sessionId The unique identifier of the ACP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param acpGetCheckoutSessionRequest Empty request body. (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call getCheckoutSessionAsync(String sessionId, Object acpGetCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ApiCallback<InlineResponse20112> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = getCheckoutSessionValidateBeforeCall(sessionId, acpGetCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20112>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateCheckoutSession
     * @param sessionId The unique identifier of the ACP checkout session to update. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param acpUpdateCheckoutSessionRequest Fields to update. All fields are optional — only included fields are changed. To replace the cart entirely, provide the full &#x60;items&#x60; array.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call updateCheckoutSessionCall(String sessionId, AcpUpdateCheckoutSessionRequest acpUpdateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(acpUpdateCheckoutSessionRequest, AcpUpdateCheckoutSessionRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "updateCheckoutSession,updateCheckoutSessionAsync,updateCheckoutSessionWithHttpInfo,updateCheckoutSessionCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "updateCheckoutSession,updateCheckoutSessionAsync,updateCheckoutSessionWithHttpInfo,updateCheckoutSessionCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout_sessions/{session_id}"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("Idempotency-Key", apiClient.parameterToString(idempotencyKey));
        if (acceptLanguage != null)
        localVarHeaderParams.put("Accept-Language", apiClient.parameterToString(acceptLanguage));
        if (userAgent != null)
        localVarHeaderParams.put("User-Agent", apiClient.parameterToString(userAgent));
        if (requestId != null)
        localVarHeaderParams.put("Request-Id", apiClient.parameterToString(requestId));
        if (signature != null)
        localVarHeaderParams.put("Signature", apiClient.parameterToString(signature));
        if (timestamp != null)
        localVarHeaderParams.put("Timestamp", apiClient.parameterToString(timestamp));
        if (apIVersion != null)
        localVarHeaderParams.put("API-Version", apiClient.parameterToString(apIVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateCheckoutSessionValidateBeforeCall(String sessionId, AcpUpdateCheckoutSessionRequest acpUpdateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            logger.error("Missing the required parameter 'sessionId' when calling updateCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'sessionId' when calling updateCheckoutSession(Async)");
        }
        
        // verify the required parameter 'acpUpdateCheckoutSessionRequest' is set
        if (acpUpdateCheckoutSessionRequest == null) {
            logger.error("Missing the required parameter 'acpUpdateCheckoutSessionRequest' when calling updateCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'acpUpdateCheckoutSessionRequest' when calling updateCheckoutSession(Async)");
        }
        
        
        okhttp3.Call call = updateCheckoutSessionCall(sessionId, acpUpdateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Update Checkout Session ACP
     * Modifies an active ACP checkout session and returns the updated session state with recalculated totals.  Use this to: - Add, remove, or change quantities of cart items - Apply or remove discount codes - Update the buyer&#39;s shipping address or contact details - Trigger re-calculation of shipping costs and tax  Only fields included in the request body are updated — omitted fields retain their current values.  **Idempotency:** Supply an &#x60;Idempotency-Key&#x60; to safely retry updates without applying them twice. 
     * @param sessionId The unique identifier of the ACP checkout session to update. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param acpUpdateCheckoutSessionRequest Fields to update. All fields are optional — only included fields are changed. To replace the cart entirely, provide the full &#x60;items&#x60; array.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return InlineResponse20112
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20112 updateCheckoutSession(String sessionId, AcpUpdateCheckoutSessionRequest acpUpdateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'updateCheckoutSession' STARTED");
        ApiResponse<InlineResponse20112> resp = updateCheckoutSessionWithHttpInfo(sessionId, acpUpdateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion);
        logger.info("CALL TO METHOD 'updateCheckoutSession' ENDED");
        return resp.getData();
    }

    /**
     * Update Checkout Session ACP
     * Modifies an active ACP checkout session and returns the updated session state with recalculated totals.  Use this to: - Add, remove, or change quantities of cart items - Apply or remove discount codes - Update the buyer&#39;s shipping address or contact details - Trigger re-calculation of shipping costs and tax  Only fields included in the request body are updated — omitted fields retain their current values.  **Idempotency:** Supply an &#x60;Idempotency-Key&#x60; to safely retry updates without applying them twice. 
     * @param sessionId The unique identifier of the ACP checkout session to update. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param acpUpdateCheckoutSessionRequest Fields to update. All fields are optional — only included fields are changed. To replace the cart entirely, provide the full &#x60;items&#x60; array.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return ApiResponse&lt;InlineResponse20112&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20112> updateCheckoutSessionWithHttpInfo(String sessionId, AcpUpdateCheckoutSessionRequest acpUpdateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = updateCheckoutSessionValidateBeforeCall(sessionId, acpUpdateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20112>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update Checkout Session ACP (asynchronously)
     * Modifies an active ACP checkout session and returns the updated session state with recalculated totals.  Use this to: - Add, remove, or change quantities of cart items - Apply or remove discount codes - Update the buyer&#39;s shipping address or contact details - Trigger re-calculation of shipping costs and tax  Only fields included in the request body are updated — omitted fields retain their current values.  **Idempotency:** Supply an &#x60;Idempotency-Key&#x60; to safely retry updates without applying them twice. 
     * @param sessionId The unique identifier of the ACP checkout session to update. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param acpUpdateCheckoutSessionRequest Fields to update. All fields are optional — only included fields are changed. To replace the cart entirely, provide the full &#x60;items&#x60; array.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call updateCheckoutSessionAsync(String sessionId, AcpUpdateCheckoutSessionRequest acpUpdateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ApiCallback<InlineResponse20112> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = updateCheckoutSessionValidateBeforeCall(sessionId, acpUpdateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20112>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
