/*
 * CyberSource Merged Spec
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package Api;

import Invokers.ApiCallback;
import Invokers.ApiClient;
import Invokers.ApiException;
import Invokers.ApiResponse;
import Invokers.Configuration;
import Invokers.Pair;
import Invokers.ProgressRequestBody;
import Invokers.ProgressResponseBody;

import com.cybersource.authsdk.core.ConfigException;
import com.google.gson.reflect.TypeToken;

import java.io.IOException;
import java.io.InputStream;


import Model.AcpCompleteCheckoutRequest;
import Model.AcpCreateCheckoutSessionRequest;
import Model.AcpUpdateCheckoutSessionRequest;
import Model.AddAgentKeyResponse201;
import Model.AgentRegistrationConflictResponse409;
import Model.AgentRegistrationResponse201;
import Model.AgentRegistrationValidationErrorResponse422;
import Model.AgentRequest;
import Model.AgentUpdate;
import Model.AgenticCancelPurchaseIntentRequest;
import Model.AgenticCardEnrollmentBadRequestResponse400;
import Model.AgenticCardEnrollmentRequest;
import Model.AgenticCardEnrollmentResponse200;
import Model.AgenticCardEnrollmentResponse202;
import Model.AgenticConfirmTransactionEventsRequest;
import Model.AgenticConfirmTransactionEventsResponse202;
import Model.AgenticCreatePurchaseIntentRequest;
import Model.AgenticCreatePurchaseIntentResponse200;
import Model.AgenticPendingPurchaseIntentResponse202;
import Model.AgenticRetrievePaymentCredentialsRequest;
import Model.AgenticRetrievePaymentCredentialsResponse200;
import Model.AgenticUpdatePurchaseIntentRequest;
import Model.InlineResponse20017;
import Model.InlineResponse20018;
import Model.InlineResponse20112;
import Model.InlineResponse20113;
import Model.InlineResponse40016;
import Model.KeyRequest;
import Model.KeyUpdate;
import Model.ListAgentKeysResponse200;
import Model.UcpCompleteCheckoutRequest;
import Model.UcpCreateCheckoutSessionRequest;
import Model.UcpUpdateCheckoutSessionRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import utilities.tracking.SdkTracker;
import com.cybersource.authsdk.util.mle.MLEUtility;
import com.cybersource.authsdk.util.mle.MLEException;

public class AgentCapabilitiesApi {
    private static Logger logger = LogManager.getLogger(AgentCapabilitiesApi.class);
    
    private ApiClient apiClient;

    public AgentCapabilitiesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AgentCapabilitiesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for activateAgentKey
     * @param agentId Unique agent identifier (required)
     * @param keyId Unique key identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call activateAgentKeyCall(String agentId, String keyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = null;
        if ("POST".equalsIgnoreCase("POST")) {
            localVarPostBody = "{}";
        }
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "activateAgentKey,activateAgentKeyAsync,activateAgentKeyWithHttpInfo,activateAgentKeyCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "activateAgentKey,activateAgentKeyAsync,activateAgentKeyWithHttpInfo,activateAgentKeyCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/agents/{agentId}/keys/{keyId}/activate"
            .replaceAll("\\{" + "agentId" + "\\}", apiClient.escapeString(agentId.toString()))
            .replaceAll("\\{" + "keyId" + "\\}", apiClient.escapeString(keyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call activateAgentKeyValidateBeforeCall(String agentId, String keyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'agentId' is set
        if (agentId == null) {
            logger.error("Missing the required parameter 'agentId' when calling activateAgentKey(Async)");
            throw new ApiException("Missing the required parameter 'agentId' when calling activateAgentKey(Async)");
        }
        
        // verify the required parameter 'keyId' is set
        if (keyId == null) {
            logger.error("Missing the required parameter 'keyId' when calling activateAgentKey(Async)");
            throw new ApiException("Missing the required parameter 'keyId' when calling activateAgentKey(Async)");
        }
        
        
        okhttp3.Call call = activateAgentKeyCall(agentId, keyId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Activate a key
     * Activate a deactivated key. Raises 404 if agent or key not found, 403 if agent is deactivated.
     * @param agentId Unique agent identifier (required)
     * @param keyId Unique key identifier (required)
     * @return AddAgentKeyResponse201
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AddAgentKeyResponse201 activateAgentKey(String agentId, String keyId) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'activateAgentKey' STARTED");
        ApiResponse<AddAgentKeyResponse201> resp = activateAgentKeyWithHttpInfo(agentId, keyId);
        logger.info("CALL TO METHOD 'activateAgentKey' ENDED");
        return resp.getData();
    }

    /**
     * Activate a key
     * Activate a deactivated key. Raises 404 if agent or key not found, 403 if agent is deactivated.
     * @param agentId Unique agent identifier (required)
     * @param keyId Unique key identifier (required)
     * @return ApiResponse&lt;AddAgentKeyResponse201&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AddAgentKeyResponse201> activateAgentKeyWithHttpInfo(String agentId, String keyId) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = activateAgentKeyValidateBeforeCall(agentId, keyId, null, null);
        Type localVarReturnType = new TypeToken<AddAgentKeyResponse201>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Activate a key (asynchronously)
     * Activate a deactivated key. Raises 404 if agent or key not found, 403 if agent is deactivated.
     * @param agentId Unique agent identifier (required)
     * @param keyId Unique key identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call activateAgentKeyAsync(String agentId, String keyId, final ApiCallback<AddAgentKeyResponse201> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = activateAgentKeyValidateBeforeCall(agentId, keyId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AddAgentKeyResponse201>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for addAgentKey
     * @param agentId Unique agent identifier (required)
     * @param keyRequest Key creation request (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call addAgentKeyCall(String agentId, KeyRequest keyRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(keyRequest, KeyRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "addAgentKey,addAgentKeyAsync,addAgentKeyWithHttpInfo,addAgentKeyCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "addAgentKey,addAgentKeyAsync,addAgentKeyWithHttpInfo,addAgentKeyCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/agents/{agentId}/keys"
            .replaceAll("\\{" + "agentId" + "\\}", apiClient.escapeString(agentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call addAgentKeyValidateBeforeCall(String agentId, KeyRequest keyRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'agentId' is set
        if (agentId == null) {
            logger.error("Missing the required parameter 'agentId' when calling addAgentKey(Async)");
            throw new ApiException("Missing the required parameter 'agentId' when calling addAgentKey(Async)");
        }
        
        // verify the required parameter 'keyRequest' is set
        if (keyRequest == null) {
            logger.error("Missing the required parameter 'keyRequest' when calling addAgentKey(Async)");
            throw new ApiException("Missing the required parameter 'keyRequest' when calling addAgentKey(Async)");
        }
        
        
        okhttp3.Call call = addAgentKeyCall(agentId, keyRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Add a key to an agent
     * [category 1 — Agent_Capabilities] Upload a Base64-encoded public key for an agent.
     * @param agentId Unique agent identifier (required)
     * @param keyRequest Key creation request (required)
     * @return AddAgentKeyResponse201
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AddAgentKeyResponse201 addAgentKey(String agentId, KeyRequest keyRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'addAgentKey' STARTED");
        ApiResponse<AddAgentKeyResponse201> resp = addAgentKeyWithHttpInfo(agentId, keyRequest);
        logger.info("CALL TO METHOD 'addAgentKey' ENDED");
        return resp.getData();
    }

    /**
     * Add a key to an agent
     * [category 1 — Agent_Capabilities] Upload a Base64-encoded public key for an agent.
     * @param agentId Unique agent identifier (required)
     * @param keyRequest Key creation request (required)
     * @return ApiResponse&lt;AddAgentKeyResponse201&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AddAgentKeyResponse201> addAgentKeyWithHttpInfo(String agentId, KeyRequest keyRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = addAgentKeyValidateBeforeCall(agentId, keyRequest, null, null);
        Type localVarReturnType = new TypeToken<AddAgentKeyResponse201>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add a key to an agent (asynchronously)
     * [category 1 — Agent_Capabilities] Upload a Base64-encoded public key for an agent.
     * @param agentId Unique agent identifier (required)
     * @param keyRequest Key creation request (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call addAgentKeyAsync(String agentId, KeyRequest keyRequest, final ApiCallback<AddAgentKeyResponse201> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = addAgentKeyValidateBeforeCall(agentId, keyRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AddAgentKeyResponse201>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cancelCheckout
     * @param sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call cancelCheckoutCall(String sessionId, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = null;
        if ("POST".equalsIgnoreCase("POST")) {
            localVarPostBody = "{}";
        }
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "cancelCheckout,cancelCheckoutAsync,cancelCheckoutWithHttpInfo,cancelCheckoutCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "cancelCheckout,cancelCheckoutAsync,cancelCheckoutWithHttpInfo,cancelCheckoutCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout_sessions/{session_id}/cancel"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("Idempotency-Key", apiClient.parameterToString(idempotencyKey));
        if (acceptLanguage != null)
        localVarHeaderParams.put("Accept-Language", apiClient.parameterToString(acceptLanguage));
        if (userAgent != null)
        localVarHeaderParams.put("User-Agent", apiClient.parameterToString(userAgent));
        if (requestId != null)
        localVarHeaderParams.put("Request-Id", apiClient.parameterToString(requestId));
        if (signature != null)
        localVarHeaderParams.put("Signature", apiClient.parameterToString(signature));
        if (timestamp != null)
        localVarHeaderParams.put("Timestamp", apiClient.parameterToString(timestamp));
        if (apIVersion != null)
        localVarHeaderParams.put("API-Version", apiClient.parameterToString(apIVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call cancelCheckoutValidateBeforeCall(String sessionId, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            logger.error("Missing the required parameter 'sessionId' when calling cancelCheckout(Async)");
            throw new ApiException("Missing the required parameter 'sessionId' when calling cancelCheckout(Async)");
        }
        
        
        okhttp3.Call call = cancelCheckoutCall(sessionId, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel Checkout ACP
     * Cancels an active ACP checkout session. No charge is made to the buyer.  This call is safe to make multiple times — cancelling an already-cancelled session returns a successful response without error.  Sessions also expire automatically after 30 minutes of inactivity, so explicit cancellation is optional but recommended to release any reserved inventory immediately. 
     * @param sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return InlineResponse20018
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20018 cancelCheckout(String sessionId, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'cancelCheckout' STARTED");
        ApiResponse<InlineResponse20018> resp = cancelCheckoutWithHttpInfo(sessionId, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion);
        logger.info("CALL TO METHOD 'cancelCheckout' ENDED");
        return resp.getData();
    }

    /**
     * Cancel Checkout ACP
     * Cancels an active ACP checkout session. No charge is made to the buyer.  This call is safe to make multiple times — cancelling an already-cancelled session returns a successful response without error.  Sessions also expire automatically after 30 minutes of inactivity, so explicit cancellation is optional but recommended to release any reserved inventory immediately. 
     * @param sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return ApiResponse&lt;InlineResponse20018&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20018> cancelCheckoutWithHttpInfo(String sessionId, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = cancelCheckoutValidateBeforeCall(sessionId, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20018>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel Checkout ACP (asynchronously)
     * Cancels an active ACP checkout session. No charge is made to the buyer.  This call is safe to make multiple times — cancelling an already-cancelled session returns a successful response without error.  Sessions also expire automatically after 30 minutes of inactivity, so explicit cancellation is optional but recommended to release any reserved inventory immediately. 
     * @param sessionId The unique identifier of the ACP checkout session to cancel. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call cancelCheckoutAsync(String sessionId, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ApiCallback<InlineResponse20018> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = cancelCheckoutValidateBeforeCall(sessionId, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20018>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cancelPurchaseIntent
     * @param instructionId  (required)
     * @param agenticCancelPurchaseIntentRequest Unique identifier for the purchase intent instruction. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call cancelPurchaseIntentCall(String instructionId, AgenticCancelPurchaseIntentRequest agenticCancelPurchaseIntentRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(agenticCancelPurchaseIntentRequest, AgenticCancelPurchaseIntentRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "cancelPurchaseIntent,cancelPurchaseIntentAsync,cancelPurchaseIntentWithHttpInfo,cancelPurchaseIntentCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "cancelPurchaseIntent,cancelPurchaseIntentAsync,cancelPurchaseIntentWithHttpInfo,cancelPurchaseIntentCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/instructions/{instructionId}/cancel"
            .replaceAll("\\{" + "instructionId" + "\\}", apiClient.escapeString(instructionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call cancelPurchaseIntentValidateBeforeCall(String instructionId, AgenticCancelPurchaseIntentRequest agenticCancelPurchaseIntentRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'instructionId' is set
        if (instructionId == null) {
            logger.error("Missing the required parameter 'instructionId' when calling cancelPurchaseIntent(Async)");
            throw new ApiException("Missing the required parameter 'instructionId' when calling cancelPurchaseIntent(Async)");
        }
        
        // verify the required parameter 'agenticCancelPurchaseIntentRequest' is set
        if (agenticCancelPurchaseIntentRequest == null) {
            logger.error("Missing the required parameter 'agenticCancelPurchaseIntentRequest' when calling cancelPurchaseIntent(Async)");
            throw new ApiException("Missing the required parameter 'agenticCancelPurchaseIntentRequest' when calling cancelPurchaseIntent(Async)");
        }
        
        
        okhttp3.Call call = cancelPurchaseIntentCall(instructionId, agenticCancelPurchaseIntentRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel a purchase intent
     * Cancel an existing purchase intent (instruction) identified by its instructionId. The agent calls this endpoint when the consumer decides to abandon the purchase before payment credentials have been used. Requires device information and assurance data for identity verification. Returns status CANCELLED (HTTP 200) on success, or PENDING (HTTP 202) with pendingEvents if cardholder authentication is required before cancellation can proceed.
     * @param instructionId  (required)
     * @param agenticCancelPurchaseIntentRequest Unique identifier for the purchase intent instruction. (required)
     * @return AgenticCreatePurchaseIntentResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AgenticCreatePurchaseIntentResponse200 cancelPurchaseIntent(String instructionId, AgenticCancelPurchaseIntentRequest agenticCancelPurchaseIntentRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'cancelPurchaseIntent' STARTED");
        ApiResponse<AgenticCreatePurchaseIntentResponse200> resp = cancelPurchaseIntentWithHttpInfo(instructionId, agenticCancelPurchaseIntentRequest);
        logger.info("CALL TO METHOD 'cancelPurchaseIntent' ENDED");
        return resp.getData();
    }

    /**
     * Cancel a purchase intent
     * Cancel an existing purchase intent (instruction) identified by its instructionId. The agent calls this endpoint when the consumer decides to abandon the purchase before payment credentials have been used. Requires device information and assurance data for identity verification. Returns status CANCELLED (HTTP 200) on success, or PENDING (HTTP 202) with pendingEvents if cardholder authentication is required before cancellation can proceed.
     * @param instructionId  (required)
     * @param agenticCancelPurchaseIntentRequest Unique identifier for the purchase intent instruction. (required)
     * @return ApiResponse&lt;AgenticCreatePurchaseIntentResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AgenticCreatePurchaseIntentResponse200> cancelPurchaseIntentWithHttpInfo(String instructionId, AgenticCancelPurchaseIntentRequest agenticCancelPurchaseIntentRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = cancelPurchaseIntentValidateBeforeCall(instructionId, agenticCancelPurchaseIntentRequest, null, null);
        Type localVarReturnType = new TypeToken<AgenticCreatePurchaseIntentResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel a purchase intent (asynchronously)
     * Cancel an existing purchase intent (instruction) identified by its instructionId. The agent calls this endpoint when the consumer decides to abandon the purchase before payment credentials have been used. Requires device information and assurance data for identity verification. Returns status CANCELLED (HTTP 200) on success, or PENDING (HTTP 202) with pendingEvents if cardholder authentication is required before cancellation can proceed.
     * @param instructionId  (required)
     * @param agenticCancelPurchaseIntentRequest Unique identifier for the purchase intent instruction. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call cancelPurchaseIntentAsync(String instructionId, AgenticCancelPurchaseIntentRequest agenticCancelPurchaseIntentRequest, final ApiCallback<AgenticCreatePurchaseIntentResponse200> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = cancelPurchaseIntentValidateBeforeCall(instructionId, agenticCancelPurchaseIntentRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AgenticCreatePurchaseIntentResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for completeCheckout
     * @param sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call completeCheckoutCall(String sessionId, AcpCompleteCheckoutRequest acpCompleteCheckoutRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(acpCompleteCheckoutRequest, AcpCompleteCheckoutRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "completeCheckout,completeCheckoutAsync,completeCheckoutWithHttpInfo,completeCheckoutCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "completeCheckout,completeCheckoutAsync,completeCheckoutWithHttpInfo,completeCheckoutCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout_sessions/{session_id}/complete"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("Idempotency-Key", apiClient.parameterToString(idempotencyKey));
        if (acceptLanguage != null)
        localVarHeaderParams.put("Accept-Language", apiClient.parameterToString(acceptLanguage));
        if (userAgent != null)
        localVarHeaderParams.put("User-Agent", apiClient.parameterToString(userAgent));
        if (requestId != null)
        localVarHeaderParams.put("Request-Id", apiClient.parameterToString(requestId));
        if (signature != null)
        localVarHeaderParams.put("Signature", apiClient.parameterToString(signature));
        if (timestamp != null)
        localVarHeaderParams.put("Timestamp", apiClient.parameterToString(timestamp));
        if (apIVersion != null)
        localVarHeaderParams.put("API-Version", apiClient.parameterToString(apIVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call completeCheckoutValidateBeforeCall(String sessionId, AcpCompleteCheckoutRequest acpCompleteCheckoutRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            logger.error("Missing the required parameter 'sessionId' when calling completeCheckout(Async)");
            throw new ApiException("Missing the required parameter 'sessionId' when calling completeCheckout(Async)");
        }
        
        // verify the required parameter 'acpCompleteCheckoutRequest' is set
        if (acpCompleteCheckoutRequest == null) {
            logger.error("Missing the required parameter 'acpCompleteCheckoutRequest' when calling completeCheckout(Async)");
            throw new ApiException("Missing the required parameter 'acpCompleteCheckoutRequest' when calling completeCheckout(Async)");
        }
        
        
        okhttp3.Call call = completeCheckoutCall(sessionId, acpCompleteCheckoutRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Complete Checkout ACP
     * **Final step of the ACP checkout flow.**  Submits payment and buyer information to place the order with the merchant. On success, the session transitions to &#x60;completed&#x60; and an &#x60;order_id&#x60; is returned confirming the merchant accepted the order.  Once completed, the session is immutable — it cannot be updated or cancelled.  **Payment token:** The &#x60;payment.token&#x60; must be a valid token from the payment provider configured for the merchant (e.g. a tokenized card from Stripe or Braintree). ACG forwards the token to the merchant&#39;s payment processor — it is never stored. 
     * @param sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return InlineResponse20017
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20017 completeCheckout(String sessionId, AcpCompleteCheckoutRequest acpCompleteCheckoutRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'completeCheckout' STARTED");
        ApiResponse<InlineResponse20017> resp = completeCheckoutWithHttpInfo(sessionId, acpCompleteCheckoutRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion);
        logger.info("CALL TO METHOD 'completeCheckout' ENDED");
        return resp.getData();
    }

    /**
     * Complete Checkout ACP
     * **Final step of the ACP checkout flow.**  Submits payment and buyer information to place the order with the merchant. On success, the session transitions to &#x60;completed&#x60; and an &#x60;order_id&#x60; is returned confirming the merchant accepted the order.  Once completed, the session is immutable — it cannot be updated or cancelled.  **Payment token:** The &#x60;payment.token&#x60; must be a valid token from the payment provider configured for the merchant (e.g. a tokenized card from Stripe or Braintree). ACG forwards the token to the merchant&#39;s payment processor — it is never stored. 
     * @param sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return ApiResponse&lt;InlineResponse20017&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20017> completeCheckoutWithHttpInfo(String sessionId, AcpCompleteCheckoutRequest acpCompleteCheckoutRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = completeCheckoutValidateBeforeCall(sessionId, acpCompleteCheckoutRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20017>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Complete Checkout ACP (asynchronously)
     * **Final step of the ACP checkout flow.**  Submits payment and buyer information to place the order with the merchant. On success, the session transitions to &#x60;completed&#x60; and an &#x60;order_id&#x60; is returned confirming the merchant accepted the order.  Once completed, the session is immutable — it cannot be updated or cancelled.  **Payment token:** The &#x60;payment.token&#x60; must be a valid token from the payment provider configured for the merchant (e.g. a tokenized card from Stripe or Braintree). ACG forwards the token to the merchant&#39;s payment processor — it is never stored. 
     * @param sessionId The unique identifier of the ACP checkout session to complete. (required)
     * @param acpCompleteCheckoutRequest Final buyer and payment details needed to place the order. Both &#x60;buyer&#x60; and &#x60;payment&#x60; may have been provided in earlier Create/Update calls; if so, they can be omitted here. At least a valid payment token is required to process the transaction.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call completeCheckoutAsync(String sessionId, AcpCompleteCheckoutRequest acpCompleteCheckoutRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ApiCallback<InlineResponse20017> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = completeCheckoutValidateBeforeCall(sessionId, acpCompleteCheckoutRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20017>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for confirmTransactionEvents
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call confirmTransactionEventsCall(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(agenticConfirmTransactionEventsRequest, AgenticConfirmTransactionEventsRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "confirmTransactionEvents,confirmTransactionEventsAsync,confirmTransactionEventsWithHttpInfo,confirmTransactionEventsCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "confirmTransactionEvents,confirmTransactionEventsAsync,confirmTransactionEventsWithHttpInfo,confirmTransactionEventsCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/instructions/{instructionId}/confirmations"
            .replaceAll("\\{" + "instructionId" + "\\}", apiClient.escapeString(instructionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call confirmTransactionEventsValidateBeforeCall(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'instructionId' is set
        if (instructionId == null) {
            logger.error("Missing the required parameter 'instructionId' when calling confirmTransactionEvents(Async)");
            throw new ApiException("Missing the required parameter 'instructionId' when calling confirmTransactionEvents(Async)");
        }
        
        // verify the required parameter 'agenticConfirmTransactionEventsRequest' is set
        if (agenticConfirmTransactionEventsRequest == null) {
            logger.error("Missing the required parameter 'agenticConfirmTransactionEventsRequest' when calling confirmTransactionEvents(Async)");
            throw new ApiException("Missing the required parameter 'agenticConfirmTransactionEventsRequest' when calling confirmTransactionEvents(Async)");
        }
        
        
        okhttp3.Call call = confirmTransactionEventsCall(instructionId, agenticConfirmTransactionEventsRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Confirm transaction events
     * Confirm transaction events for a completed purchase. The agent calls this endpoint after the payment has been submitted to notify the Intelligent Commerce Connect of the transaction outcome. The request includes processor information (transaction type, status, approval codes), order details (shipping, tracking, product information), and merchant information. Returns HTTP 202 acknowledging receipt of the confirmation.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @return AgenticConfirmTransactionEventsResponse202
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AgenticConfirmTransactionEventsResponse202 confirmTransactionEvents(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'confirmTransactionEvents' STARTED");
        ApiResponse<AgenticConfirmTransactionEventsResponse202> resp = confirmTransactionEventsWithHttpInfo(instructionId, agenticConfirmTransactionEventsRequest);
        logger.info("CALL TO METHOD 'confirmTransactionEvents' ENDED");
        return resp.getData();
    }

    /**
     * Confirm transaction events
     * Confirm transaction events for a completed purchase. The agent calls this endpoint after the payment has been submitted to notify the Intelligent Commerce Connect of the transaction outcome. The request includes processor information (transaction type, status, approval codes), order details (shipping, tracking, product information), and merchant information. Returns HTTP 202 acknowledging receipt of the confirmation.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @return ApiResponse&lt;AgenticConfirmTransactionEventsResponse202&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AgenticConfirmTransactionEventsResponse202> confirmTransactionEventsWithHttpInfo(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = confirmTransactionEventsValidateBeforeCall(instructionId, agenticConfirmTransactionEventsRequest, null, null);
        Type localVarReturnType = new TypeToken<AgenticConfirmTransactionEventsResponse202>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Confirm transaction events (asynchronously)
     * Confirm transaction events for a completed purchase. The agent calls this endpoint after the payment has been submitted to notify the Intelligent Commerce Connect of the transaction outcome. The request includes processor information (transaction type, status, approval codes), order details (shipping, tracking, product information), and merchant information. Returns HTTP 202 acknowledging receipt of the confirmation.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call confirmTransactionEventsAsync(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest, final ApiCallback<AgenticConfirmTransactionEventsResponse202> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = confirmTransactionEventsValidateBeforeCall(instructionId, agenticConfirmTransactionEventsRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AgenticConfirmTransactionEventsResponse202>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createCheckoutSession
     * @param acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call createCheckoutSessionCall(AcpCreateCheckoutSessionRequest acpCreateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(acpCreateCheckoutSessionRequest, AcpCreateCheckoutSessionRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "createCheckoutSession,createCheckoutSessionAsync,createCheckoutSessionWithHttpInfo,createCheckoutSessionCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "createCheckoutSession,createCheckoutSessionAsync,createCheckoutSessionWithHttpInfo,createCheckoutSessionCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout_sessions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("Idempotency-Key", apiClient.parameterToString(idempotencyKey));
        if (acceptLanguage != null)
        localVarHeaderParams.put("Accept-Language", apiClient.parameterToString(acceptLanguage));
        if (userAgent != null)
        localVarHeaderParams.put("User-Agent", apiClient.parameterToString(userAgent));
        if (requestId != null)
        localVarHeaderParams.put("Request-Id", apiClient.parameterToString(requestId));
        if (signature != null)
        localVarHeaderParams.put("Signature", apiClient.parameterToString(signature));
        if (timestamp != null)
        localVarHeaderParams.put("Timestamp", apiClient.parameterToString(timestamp));
        if (apIVersion != null)
        localVarHeaderParams.put("API-Version", apiClient.parameterToString(apIVersion));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call createCheckoutSessionValidateBeforeCall(AcpCreateCheckoutSessionRequest acpCreateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'acpCreateCheckoutSessionRequest' is set
        if (acpCreateCheckoutSessionRequest == null) {
            logger.error("Missing the required parameter 'acpCreateCheckoutSessionRequest' when calling createCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'acpCreateCheckoutSessionRequest' when calling createCheckoutSession(Async)");
        }
        
        
        okhttp3.Call call = createCheckoutSessionCall(acpCreateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create Checkout Session ACP
     * **Step 1 of the ACP checkout flow.**  Initiates a new ACP checkout session with the buyer&#39;s cart. ACG validates item availability against the merchant&#39;s catalog, calculates initial pricing and tax, and returns a session object with a unique &#x60;id&#x60;.  **Store the &#x60;id&#x60;** — every subsequent call in this checkout flow (update, complete, cancel) requires it.  The session remains active for 30 minutes. A new session must be created after expiry.  **Idempotency:** Supply an &#x60;Idempotency-Key&#x60; header to safely retry this call without creating duplicate sessions. 
     * @param acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return InlineResponse20112
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20112 createCheckoutSession(AcpCreateCheckoutSessionRequest acpCreateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'createCheckoutSession' STARTED");
        ApiResponse<InlineResponse20112> resp = createCheckoutSessionWithHttpInfo(acpCreateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion);
        logger.info("CALL TO METHOD 'createCheckoutSession' ENDED");
        return resp.getData();
    }

    /**
     * Create Checkout Session ACP
     * **Step 1 of the ACP checkout flow.**  Initiates a new ACP checkout session with the buyer&#39;s cart. ACG validates item availability against the merchant&#39;s catalog, calculates initial pricing and tax, and returns a session object with a unique &#x60;id&#x60;.  **Store the &#x60;id&#x60;** — every subsequent call in this checkout flow (update, complete, cancel) requires it.  The session remains active for 30 minutes. A new session must be created after expiry.  **Idempotency:** Supply an &#x60;Idempotency-Key&#x60; header to safely retry this call without creating duplicate sessions. 
     * @param acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @return ApiResponse&lt;InlineResponse20112&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20112> createCheckoutSessionWithHttpInfo(AcpCreateCheckoutSessionRequest acpCreateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = createCheckoutSessionValidateBeforeCall(acpCreateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20112>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create Checkout Session ACP (asynchronously)
     * **Step 1 of the ACP checkout flow.**  Initiates a new ACP checkout session with the buyer&#39;s cart. ACG validates item availability against the merchant&#39;s catalog, calculates initial pricing and tax, and returns a session object with a unique &#x60;id&#x60;.  **Store the &#x60;id&#x60;** — every subsequent call in this checkout flow (update, complete, cancel) requires it.  The session remains active for 30 minutes. A new session must be created after expiry.  **Idempotency:** Supply an &#x60;Idempotency-Key&#x60; header to safely retry this call without creating duplicate sessions. 
     * @param acpCreateCheckoutSessionRequest The cart contents and buyer context for this checkout session. &#x60;items&#x60; is required. &#x60;buyer&#x60; and &#x60;fulfillment_address&#x60; are optional on creation and can be provided via Update Session before completing checkout.  (required)
     * @param idempotencyKey Client-generated unique key to ensure this request is processed exactly once. If a request with the same key was already processed, the original response is returned.  (optional)
     * @param acceptLanguage Preferred language for the response (e.g. &#x60;en-US&#x60;, &#x60;fr-FR&#x60;). Passed to the merchant backend for localized content.  (optional)
     * @param userAgent Client user agent string identifying the AI agent platform and version.  (optional)
     * @param requestId Unique request identifier for distributed tracing and debugging. Echoed back in the response headers.  (optional)
     * @param signature Request signature for payload integrity verification.  (optional)
     * @param timestamp ISO 8601 timestamp of when the request was generated. Used in conjunction with Signature for replay protection.  (optional)
     * @param apIVersion ACP specification version the client is targeting (e.g. &#x60;2024-01-01&#x60;). When omitted, the latest supported version is assumed.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call createCheckoutSessionAsync(AcpCreateCheckoutSessionRequest acpCreateCheckoutSessionRequest, String idempotencyKey, String acceptLanguage, String userAgent, String requestId, String signature, String timestamp, String apIVersion, final ApiCallback<InlineResponse20112> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = createCheckoutSessionValidateBeforeCall(acpCreateCheckoutSessionRequest, idempotencyKey, acceptLanguage, userAgent, requestId, signature, timestamp, apIVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20112>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deactivateAgentKey
     * @param agentId Unique agent identifier (required)
     * @param keyId Unique key identifier (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call deactivateAgentKeyCall(String agentId, String keyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = null;
        if ("DELETE".equalsIgnoreCase("POST")) {
            localVarPostBody = "{}";
        }
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "deactivateAgentKey,deactivateAgentKeyAsync,deactivateAgentKeyWithHttpInfo,deactivateAgentKeyCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "deactivateAgentKey,deactivateAgentKeyAsync,deactivateAgentKeyWithHttpInfo,deactivateAgentKeyCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/agents/{agentId}/keys/{keyId}"
            .replaceAll("\\{" + "agentId" + "\\}", apiClient.escapeString(agentId.toString()))
            .replaceAll("\\{" + "keyId" + "\\}", apiClient.escapeString(keyId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call deactivateAgentKeyValidateBeforeCall(String agentId, String keyId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'agentId' is set
        if (agentId == null) {
            logger.error("Missing the required parameter 'agentId' when calling deactivateAgentKey(Async)");
            throw new ApiException("Missing the required parameter 'agentId' when calling deactivateAgentKey(Async)");
        }
        
        // verify the required parameter 'keyId' is set
        if (keyId == null) {
            logger.error("Missing the required parameter 'keyId' when calling deactivateAgentKey(Async)");
            throw new ApiException("Missing the required parameter 'keyId' when calling deactivateAgentKey(Async)");
        }
        
        
        okhttp3.Call call = deactivateAgentKeyCall(agentId, keyId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Deactivate a key
     * Deactivate a key (soft delete). Raises 404 if key not found.
     * @param agentId Unique agent identifier (required)
     * @param keyId Unique key identifier (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public void deactivateAgentKey(String agentId, String keyId) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'deactivateAgentKey' STARTED");
        deactivateAgentKeyWithHttpInfo(agentId, keyId);

    }

    /**
     * Deactivate a key
     * Deactivate a key (soft delete). Raises 404 if key not found.
     * @param agentId Unique agent identifier (required)
     * @param keyId Unique key identifier (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<Void> deactivateAgentKeyWithHttpInfo(String agentId, String keyId) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = deactivateAgentKeyValidateBeforeCall(agentId, keyId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Deactivate a key (asynchronously)
     * Deactivate a key (soft delete). Raises 404 if key not found.
     * @param agentId Unique agent identifier (required)
     * @param keyId Unique key identifier (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call deactivateAgentKeyAsync(String agentId, String keyId, final ApiCallback<Void> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = deactivateAgentKeyValidateBeforeCall(agentId, keyId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for enrollCard
     * @param agenticCardEnrollmentRequest  (required)
[...]
