/*
 * CyberSource Merged Spec
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package Api;

import Invokers.ApiCallback;
import Invokers.ApiClient;
import Invokers.ApiException;
import Invokers.ApiResponse;
import Invokers.Configuration;
import Invokers.Pair;
import Invokers.ProgressRequestBody;
import Invokers.ProgressResponseBody;

import com.cybersource.authsdk.core.ConfigException;
import com.google.gson.reflect.TypeToken;

import java.io.IOException;
import java.io.InputStream;


import Model.AgenticCardEnrollmentBadRequestResponse400;
import Model.AgenticCardEnrollmentRequest;
import Model.AgenticCardEnrollmentResponse200;
import Model.AgenticCardEnrollmentResponse202;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import utilities.tracking.SdkTracker;
import com.cybersource.authsdk.util.mle.MLEUtility;
import com.cybersource.authsdk.util.mle.MLEException;

public class EnrollmentApi {
    private static Logger logger = LogManager.getLogger(EnrollmentApi.class);
    
    private ApiClient apiClient;

    public EnrollmentApi() {
        this(Configuration.getDefaultApiClient());
    }

    public EnrollmentApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for enrollCard
     * @param agenticCardEnrollmentRequest  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call enrollCardCall(AgenticCardEnrollmentRequest agenticCardEnrollmentRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(agenticCardEnrollmentRequest, AgenticCardEnrollmentRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "enrollCard,enrollCardAsync,enrollCardWithHttpInfo,enrollCardCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "enrollCard,enrollCardAsync,enrollCardWithHttpInfo,enrollCardCall");
        
        // create path and map variables
        String localVarPath = "/acp/v1/tokens";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call enrollCardValidateBeforeCall(AgenticCardEnrollmentRequest agenticCardEnrollmentRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'agenticCardEnrollmentRequest' is set
        if (agenticCardEnrollmentRequest == null) {
            logger.error("Missing the required parameter 'agenticCardEnrollmentRequest' when calling enrollCard(Async)");
            throw new ApiException("Missing the required parameter 'agenticCardEnrollmentRequest' when calling enrollCard(Async)");
        }
        
        
        okhttp3.Call call = enrollCardCall(agenticCardEnrollmentRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Enroll a card
     * Enroll a card for tokenization during the customer&#39;s account registration or when the customer starts a new purchase intent.
     * @param agenticCardEnrollmentRequest  (required)
     * @return AgenticCardEnrollmentResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AgenticCardEnrollmentResponse200 enrollCard(AgenticCardEnrollmentRequest agenticCardEnrollmentRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'enrollCard' STARTED");
        ApiResponse<AgenticCardEnrollmentResponse200> resp = enrollCardWithHttpInfo(agenticCardEnrollmentRequest);
        logger.info("CALL TO METHOD 'enrollCard' ENDED");
        return resp.getData();
    }

    /**
     * Enroll a card
     * Enroll a card for tokenization during the customer&#39;s account registration or when the customer starts a new purchase intent.
     * @param agenticCardEnrollmentRequest  (required)
     * @return ApiResponse&lt;AgenticCardEnrollmentResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AgenticCardEnrollmentResponse200> enrollCardWithHttpInfo(AgenticCardEnrollmentRequest agenticCardEnrollmentRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = enrollCardValidateBeforeCall(agenticCardEnrollmentRequest, null, null);
        Type localVarReturnType = new TypeToken<AgenticCardEnrollmentResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Enroll a card (asynchronously)
     * Enroll a card for tokenization during the customer&#39;s account registration or when the customer starts a new purchase intent.
     * @param agenticCardEnrollmentRequest  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call enrollCardAsync(AgenticCardEnrollmentRequest agenticCardEnrollmentRequest, final ApiCallback<AgenticCardEnrollmentResponse200> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = enrollCardValidateBeforeCall(agenticCardEnrollmentRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AgenticCardEnrollmentResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
