/*
 * CyberSource Merged Spec
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package Api;

import Invokers.ApiCallback;
import Invokers.ApiClient;
import Invokers.ApiException;
import Invokers.ApiResponse;
import Invokers.Configuration;
import Invokers.Pair;
import Invokers.ProgressRequestBody;
import Invokers.ProgressResponseBody;

import com.cybersource.authsdk.core.ConfigException;
import com.google.gson.reflect.TypeToken;

import java.io.IOException;
import java.io.InputStream;


import Model.AgenticCancelPurchaseIntentRequest;
import Model.AgenticCardEnrollmentBadRequestResponse400;
import Model.AgenticConfirmTransactionEventsRequest;
import Model.AgenticConfirmTransactionEventsResponse202;
import Model.AgenticCreatePurchaseIntentRequest;
import Model.AgenticCreatePurchaseIntentResponse200;
import Model.AgenticPendingPurchaseIntentResponse202;
import Model.AgenticRetrievePaymentCredentialsRequest;
import Model.AgenticRetrievePaymentCredentialsResponse200;
import Model.AgenticUpdatePurchaseIntentRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import utilities.tracking.SdkTracker;
import com.cybersource.authsdk.util.mle.MLEUtility;
import com.cybersource.authsdk.util.mle.MLEException;

public class InstructionsApi {
    private static Logger logger = LogManager.getLogger(InstructionsApi.class);
    
    private ApiClient apiClient;

    public InstructionsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InstructionsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for cancelPurchaseIntent
     * @param instructionId  (required)
     * @param agenticCancelPurchaseIntentRequest Unique identifier for the purchase intent instruction. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call cancelPurchaseIntentCall(String instructionId, AgenticCancelPurchaseIntentRequest agenticCancelPurchaseIntentRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(agenticCancelPurchaseIntentRequest, AgenticCancelPurchaseIntentRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "cancelPurchaseIntent,cancelPurchaseIntentAsync,cancelPurchaseIntentWithHttpInfo,cancelPurchaseIntentCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "cancelPurchaseIntent,cancelPurchaseIntentAsync,cancelPurchaseIntentWithHttpInfo,cancelPurchaseIntentCall");
        
        // create path and map variables
        String localVarPath = "/acp/v1/instructions/{instructionId}/cancel"
            .replaceAll("\\{" + "instructionId" + "\\}", apiClient.escapeString(instructionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call cancelPurchaseIntentValidateBeforeCall(String instructionId, AgenticCancelPurchaseIntentRequest agenticCancelPurchaseIntentRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'instructionId' is set
        if (instructionId == null) {
            logger.error("Missing the required parameter 'instructionId' when calling cancelPurchaseIntent(Async)");
            throw new ApiException("Missing the required parameter 'instructionId' when calling cancelPurchaseIntent(Async)");
        }
        
        // verify the required parameter 'agenticCancelPurchaseIntentRequest' is set
        if (agenticCancelPurchaseIntentRequest == null) {
            logger.error("Missing the required parameter 'agenticCancelPurchaseIntentRequest' when calling cancelPurchaseIntent(Async)");
            throw new ApiException("Missing the required parameter 'agenticCancelPurchaseIntentRequest' when calling cancelPurchaseIntent(Async)");
        }
        
        
        okhttp3.Call call = cancelPurchaseIntentCall(instructionId, agenticCancelPurchaseIntentRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel a purchase intent
     * Cancel an existing purchase intent (instruction) identified by its instructionId. The agent calls this endpoint when the consumer decides to abandon the purchase before payment credentials have been used. Requires device information and assurance data for identity verification. Returns status CANCELLED (HTTP 200) on success, or PENDING (HTTP 202) with pendingEvents if cardholder authentication is required before cancellation can proceed.
     * @param instructionId  (required)
     * @param agenticCancelPurchaseIntentRequest Unique identifier for the purchase intent instruction. (required)
     * @return AgenticCreatePurchaseIntentResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AgenticCreatePurchaseIntentResponse200 cancelPurchaseIntent(String instructionId, AgenticCancelPurchaseIntentRequest agenticCancelPurchaseIntentRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'cancelPurchaseIntent' STARTED");
        ApiResponse<AgenticCreatePurchaseIntentResponse200> resp = cancelPurchaseIntentWithHttpInfo(instructionId, agenticCancelPurchaseIntentRequest);
        logger.info("CALL TO METHOD 'cancelPurchaseIntent' ENDED");
        return resp.getData();
    }

    /**
     * Cancel a purchase intent
     * Cancel an existing purchase intent (instruction) identified by its instructionId. The agent calls this endpoint when the consumer decides to abandon the purchase before payment credentials have been used. Requires device information and assurance data for identity verification. Returns status CANCELLED (HTTP 200) on success, or PENDING (HTTP 202) with pendingEvents if cardholder authentication is required before cancellation can proceed.
     * @param instructionId  (required)
     * @param agenticCancelPurchaseIntentRequest Unique identifier for the purchase intent instruction. (required)
     * @return ApiResponse&lt;AgenticCreatePurchaseIntentResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AgenticCreatePurchaseIntentResponse200> cancelPurchaseIntentWithHttpInfo(String instructionId, AgenticCancelPurchaseIntentRequest agenticCancelPurchaseIntentRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = cancelPurchaseIntentValidateBeforeCall(instructionId, agenticCancelPurchaseIntentRequest, null, null);
        Type localVarReturnType = new TypeToken<AgenticCreatePurchaseIntentResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel a purchase intent (asynchronously)
     * Cancel an existing purchase intent (instruction) identified by its instructionId. The agent calls this endpoint when the consumer decides to abandon the purchase before payment credentials have been used. Requires device information and assurance data for identity verification. Returns status CANCELLED (HTTP 200) on success, or PENDING (HTTP 202) with pendingEvents if cardholder authentication is required before cancellation can proceed.
     * @param instructionId  (required)
     * @param agenticCancelPurchaseIntentRequest Unique identifier for the purchase intent instruction. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call cancelPurchaseIntentAsync(String instructionId, AgenticCancelPurchaseIntentRequest agenticCancelPurchaseIntentRequest, final ApiCallback<AgenticCreatePurchaseIntentResponse200> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = cancelPurchaseIntentValidateBeforeCall(instructionId, agenticCancelPurchaseIntentRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AgenticCreatePurchaseIntentResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for confirmTransactionEvents
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call confirmTransactionEventsCall(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(agenticConfirmTransactionEventsRequest, AgenticConfirmTransactionEventsRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "confirmTransactionEvents,confirmTransactionEventsAsync,confirmTransactionEventsWithHttpInfo,confirmTransactionEventsCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "confirmTransactionEvents,confirmTransactionEventsAsync,confirmTransactionEventsWithHttpInfo,confirmTransactionEventsCall");
        
        // create path and map variables
        String localVarPath = "/acp/v1/instructions/{instructionId}/confirmations"
            .replaceAll("\\{" + "instructionId" + "\\}", apiClient.escapeString(instructionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call confirmTransactionEventsValidateBeforeCall(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'instructionId' is set
        if (instructionId == null) {
            logger.error("Missing the required parameter 'instructionId' when calling confirmTransactionEvents(Async)");
            throw new ApiException("Missing the required parameter 'instructionId' when calling confirmTransactionEvents(Async)");
        }
        
        // verify the required parameter 'agenticConfirmTransactionEventsRequest' is set
        if (agenticConfirmTransactionEventsRequest == null) {
            logger.error("Missing the required parameter 'agenticConfirmTransactionEventsRequest' when calling confirmTransactionEvents(Async)");
            throw new ApiException("Missing the required parameter 'agenticConfirmTransactionEventsRequest' when calling confirmTransactionEvents(Async)");
        }
        
        
        okhttp3.Call call = confirmTransactionEventsCall(instructionId, agenticConfirmTransactionEventsRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Confirm transaction events
     * Confirm transaction events for a completed purchase. The agent calls this endpoint after the payment has been submitted to notify the Intelligent Commerce Connect of the transaction outcome. The request includes processor information (transaction type, status, approval codes), order details (shipping, tracking, product information), and merchant information. Returns HTTP 202 acknowledging receipt of the confirmation.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @return AgenticConfirmTransactionEventsResponse202
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AgenticConfirmTransactionEventsResponse202 confirmTransactionEvents(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'confirmTransactionEvents' STARTED");
        ApiResponse<AgenticConfirmTransactionEventsResponse202> resp = confirmTransactionEventsWithHttpInfo(instructionId, agenticConfirmTransactionEventsRequest);
        logger.info("CALL TO METHOD 'confirmTransactionEvents' ENDED");
        return resp.getData();
    }

    /**
     * Confirm transaction events
     * Confirm transaction events for a completed purchase. The agent calls this endpoint after the payment has been submitted to notify the Intelligent Commerce Connect of the transaction outcome. The request includes processor information (transaction type, status, approval codes), order details (shipping, tracking, product information), and merchant information. Returns HTTP 202 acknowledging receipt of the confirmation.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @return ApiResponse&lt;AgenticConfirmTransactionEventsResponse202&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AgenticConfirmTransactionEventsResponse202> confirmTransactionEventsWithHttpInfo(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = confirmTransactionEventsValidateBeforeCall(instructionId, agenticConfirmTransactionEventsRequest, null, null);
        Type localVarReturnType = new TypeToken<AgenticConfirmTransactionEventsResponse202>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Confirm transaction events (asynchronously)
     * Confirm transaction events for a completed purchase. The agent calls this endpoint after the payment has been submitted to notify the Intelligent Commerce Connect of the transaction outcome. The request includes processor information (transaction type, status, approval codes), order details (shipping, tracking, product information), and merchant information. Returns HTTP 202 acknowledging receipt of the confirmation.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call confirmTransactionEventsAsync(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest, final ApiCallback<AgenticConfirmTransactionEventsResponse202> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = confirmTransactionEventsValidateBeforeCall(instructionId, agenticConfirmTransactionEventsRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AgenticConfirmTransactionEventsResponse202>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for initiatePurchaseIntent
     * @param agenticCreatePurchaseIntentRequest  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call initiatePurchaseIntentCall(AgenticCreatePurchaseIntentRequest agenticCreatePurchaseIntentRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(agenticCreatePurchaseIntentRequest, AgenticCreatePurchaseIntentRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "initiatePurchaseIntent,initiatePurchaseIntentAsync,initiatePurchaseIntentWithHttpInfo,initiatePurchaseIntentCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "initiatePurchaseIntent,initiatePurchaseIntentAsync,initiatePurchaseIntentWithHttpInfo,initiatePurchaseIntentCall");
        
        // create path and map variables
        String localVarPath = "/acp/v1/instructions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call initiatePurchaseIntentValidateBeforeCall(AgenticCreatePurchaseIntentRequest agenticCreatePurchaseIntentRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'agenticCreatePurchaseIntentRequest' is set
        if (agenticCreatePurchaseIntentRequest == null) {
            logger.error("Missing the required parameter 'agenticCreatePurchaseIntentRequest' when calling initiatePurchaseIntent(Async)");
            throw new ApiException("Missing the required parameter 'agenticCreatePurchaseIntentRequest' when calling initiatePurchaseIntent(Async)");
        }
        
        
        okhttp3.Call call = initiatePurchaseIntentCall(agenticCreatePurchaseIntentRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Initiate a purchase intent
     * Create a new purchase intent (instruction) for an agentic transaction. The agent calls this endpoint after a card has been enrolled to define what the consumer wants to buy. The request includes payment instrument references, device and assurance data, mandates (spending limits, merchant preferences, and product descriptions), and optional buyer information. Return an instructionId (HTTP 200) if the intent is created immediately, or PENDING (HTTP 202) with pendingEvents if cardholder authentication is required. The instructionId returned is used in all subsequent operations - update, cancel, retrieve credentials, and confirm transaction.
     * @param agenticCreatePurchaseIntentRequest  (required)
     * @return AgenticCreatePurchaseIntentResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AgenticCreatePurchaseIntentResponse200 initiatePurchaseIntent(AgenticCreatePurchaseIntentRequest agenticCreatePurchaseIntentRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'initiatePurchaseIntent' STARTED");
        ApiResponse<AgenticCreatePurchaseIntentResponse200> resp = initiatePurchaseIntentWithHttpInfo(agenticCreatePurchaseIntentRequest);
        logger.info("CALL TO METHOD 'initiatePurchaseIntent' ENDED");
        return resp.getData();
    }

    /**
     * Initiate a purchase intent
     * Create a new purchase intent (instruction) for an agentic transaction. The agent calls this endpoint after a card has been enrolled to define what the consumer wants to buy. The request includes payment instrument references, device and assurance data, mandates (spending limits, merchant preferences, and product descriptions), and optional buyer information. Return an instructionId (HTTP 200) if the intent is created immediately, or PENDING (HTTP 202) with pendingEvents if cardholder authentication is required. The instructionId returned is used in all subsequent operations - update, cancel, retrieve credentials, and confirm transaction.
     * @param agenticCreatePurchaseIntentRequest  (required)
     * @return ApiResponse&lt;AgenticCreatePurchaseIntentResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AgenticCreatePurchaseIntentResponse200> initiatePurchaseIntentWithHttpInfo(AgenticCreatePurchaseIntentRequest agenticCreatePurchaseIntentRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = initiatePurchaseIntentValidateBeforeCall(agenticCreatePurchaseIntentRequest, null, null);
        Type localVarReturnType = new TypeToken<AgenticCreatePurchaseIntentResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Initiate a purchase intent (asynchronously)
     * Create a new purchase intent (instruction) for an agentic transaction. The agent calls this endpoint after a card has been enrolled to define what the consumer wants to buy. The request includes payment instrument references, device and assurance data, mandates (spending limits, merchant preferences, and product descriptions), and optional buyer information. Return an instructionId (HTTP 200) if the intent is created immediately, or PENDING (HTTP 202) with pendingEvents if cardholder authentication is required. The instructionId returned is used in all subsequent operations - update, cancel, retrieve credentials, and confirm transaction.
     * @param agenticCreatePurchaseIntentRequest  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call initiatePurchaseIntentAsync(AgenticCreatePurchaseIntentRequest agenticCreatePurchaseIntentRequest, final ApiCallback<AgenticCreatePurchaseIntentResponse200> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = initiatePurchaseIntentValidateBeforeCall(agenticCreatePurchaseIntentRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AgenticCreatePurchaseIntentResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for retrievePaymentCredentials
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticRetrievePaymentCredentialsRequest  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call retrievePaymentCredentialsCall(String instructionId, AgenticRetrievePaymentCredentialsRequest agenticRetrievePaymentCredentialsRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(agenticRetrievePaymentCredentialsRequest, AgenticRetrievePaymentCredentialsRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "retrievePaymentCredentials,retrievePaymentCredentialsAsync,retrievePaymentCredentialsWithHttpInfo,retrievePaymentCredentialsCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "retrievePaymentCredentials,retrievePaymentCredentialsAsync,retrievePaymentCredentialsWithHttpInfo,retrievePaymentCredentialsCall");
        
        // create path and map variables
        String localVarPath = "/acp/v1/instructions/{instructionId}/credentials"
            .replaceAll("\\{" + "instructionId" + "\\}", apiClient.escapeString(instructionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call retrievePaymentCredentialsValidateBeforeCall(String instructionId, AgenticRetrievePaymentCredentialsRequest agenticRetrievePaymentCredentialsRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'instructionId' is set
        if (instructionId == null) {
            logger.error("Missing the required parameter 'instructionId' when calling retrievePaymentCredentials(Async)");
            throw new ApiException("Missing the required parameter 'instructionId' when calling retrievePaymentCredentials(Async)");
        }
        
        // verify the required parameter 'agenticRetrievePaymentCredentialsRequest' is set
        if (agenticRetrievePaymentCredentialsRequest == null) {
            logger.error("Missing the required parameter 'agenticRetrievePaymentCredentialsRequest' when calling retrievePaymentCredentials(Async)");
            throw new ApiException("Missing the required parameter 'agenticRetrievePaymentCredentialsRequest' when calling retrievePaymentCredentials(Async)");
        }
        
        
        okhttp3.Call call = retrievePaymentCredentialsCall(instructionId, agenticRetrievePaymentCredentialsRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Retrieve payment credentials
     * Retrieve tokenized payment credentials for a purchase intent to complete the transaction at a merchant. The agent calls this endpoint after a purchase intent has been created and approved, providing transaction-level details including order information, merchant details, payment options, and production information. Returns COMPLETED (HTTP 200) with a signed payload containing encrypted payment credentials (authorization token and JWS-signed payload), or PENDING (HTTP 202) with pendingEvents if additional cardholder authentication is required. The signed payload is used by the merchant&#39;s payment processor to complete the transaction.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticRetrievePaymentCredentialsRequest  (required)
     * @return AgenticRetrievePaymentCredentialsResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AgenticRetrievePaymentCredentialsResponse200 retrievePaymentCredentials(String instructionId, AgenticRetrievePaymentCredentialsRequest agenticRetrievePaymentCredentialsRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'retrievePaymentCredentials' STARTED");
        ApiResponse<AgenticRetrievePaymentCredentialsResponse200> resp = retrievePaymentCredentialsWithHttpInfo(instructionId, agenticRetrievePaymentCredentialsRequest);
        logger.info("CALL TO METHOD 'retrievePaymentCredentials' ENDED");
        return resp.getData();
    }

    /**
     * Retrieve payment credentials
     * Retrieve tokenized payment credentials for a purchase intent to complete the transaction at a merchant. The agent calls this endpoint after a purchase intent has been created and approved, providing transaction-level details including order information, merchant details, payment options, and production information. Returns COMPLETED (HTTP 200) with a signed payload containing encrypted payment credentials (authorization token and JWS-signed payload), or PENDING (HTTP 202) with pendingEvents if additional cardholder authentication is required. The signed payload is used by the merchant&#39;s payment processor to complete the transaction.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticRetrievePaymentCredentialsRequest  (required)
     * @return ApiResponse&lt;AgenticRetrievePaymentCredentialsResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AgenticRetrievePaymentCredentialsResponse200> retrievePaymentCredentialsWithHttpInfo(String instructionId, AgenticRetrievePaymentCredentialsRequest agenticRetrievePaymentCredentialsRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = retrievePaymentCredentialsValidateBeforeCall(instructionId, agenticRetrievePaymentCredentialsRequest, null, null);
        Type localVarReturnType = new TypeToken<AgenticRetrievePaymentCredentialsResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve payment credentials (asynchronously)
     * Retrieve tokenized payment credentials for a purchase intent to complete the transaction at a merchant. The agent calls this endpoint after a purchase intent has been created and approved, providing transaction-level details including order information, merchant details, payment options, and production information. Returns COMPLETED (HTTP 200) with a signed payload containing encrypted payment credentials (authorization token and JWS-signed payload), or PENDING (HTTP 202) with pendingEvents if additional cardholder authentication is required. The signed payload is used by the merchant&#39;s payment processor to complete the transaction.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticRetrievePaymentCredentialsRequest  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call retrievePaymentCredentialsAsync(String instructionId, AgenticRetrievePaymentCredentialsRequest agenticRetrievePaymentCredentialsRequest, final ApiCallback<AgenticRetrievePaymentCredentialsResponse200> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = retrievePaymentCredentialsValidateBeforeCall(instructionId, agenticRetrievePaymentCredentialsRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AgenticRetrievePaymentCredentialsResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updatePurchaseIntent
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticUpdatePurchaseIntentRequest  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call updatePurchaseIntentCall(String instructionId, AgenticUpdatePurchaseIntentRequest agenticUpdatePurchaseIntentRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(agenticUpdatePurchaseIntentRequest, AgenticUpdatePurchaseIntentRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "updatePurchaseIntent,updatePurchaseIntentAsync,updatePurchaseIntentWithHttpInfo,updatePurchaseIntentCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "updatePurchaseIntent,updatePurchaseIntentAsync,updatePurchaseIntentWithHttpInfo,updatePurchaseIntentCall");
        
        // create path and map variables
        String localVarPath = "/acp/v1/instructions/{instructionId}"
            .replaceAll("\\{" + "instructionId" + "\\}", apiClient.escapeString(instructionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call updatePurchaseIntentValidateBeforeCall(String instructionId, AgenticUpdatePurchaseIntentRequest agenticUpdatePurchaseIntentRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'instructionId' is set
        if (instructionId == null) {
            logger.error("Missing the required parameter 'instructionId' when calling updatePurchaseIntent(Async)");
            throw new ApiException("Missing the required parameter 'instructionId' when calling updatePurchaseIntent(Async)");
        }
        
        // verify the required parameter 'agenticUpdatePurchaseIntentRequest' is set
        if (agenticUpdatePurchaseIntentRequest == null) {
            logger.error("Missing the required parameter 'agenticUpdatePurchaseIntentRequest' when calling updatePurchaseIntent(Async)");
            throw new ApiException("Missing the required parameter 'agenticUpdatePurchaseIntentRequest' when calling updatePurchaseIntent(Async)");
        }
        
        
        okhttp3.Call call = updatePurchaseIntentCall(instructionId, agenticUpdatePurchaseIntentRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Update a purchase intent
     * Update an existing purchase intent (instruction) identified by its instructionId. The agent calls this endpoint when the consumer modifies their order — for example, changing the quantity, updating mandates, switching payment instruments, or changing shipping details. The request body has the same structure as the initiate request. Returns the same instructionId (HTTP 200) on success, or PENDING (HTTP 202) with pendingEvents if additional cardholder authentication is required for the updated intent.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticUpdatePurchaseIntentRequest  (required)
     * @return AgenticCreatePurchaseIntentResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AgenticCreatePurchaseIntentResponse200 updatePurchaseIntent(String instructionId, AgenticUpdatePurchaseIntentRequest agenticUpdatePurchaseIntentRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'updatePurchaseIntent' STARTED");
        ApiResponse<AgenticCreatePurchaseIntentResponse200> resp = updatePurchaseIntentWithHttpInfo(instructionId, agenticUpdatePurchaseIntentRequest);
        logger.info("CALL TO METHOD 'updatePurchaseIntent' ENDED");
        return resp.getData();
    }

    /**
     * Update a purchase intent
     * Update an existing purchase intent (instruction) identified by its instructionId. The agent calls this endpoint when the consumer modifies their order — for example, changing the quantity, updating mandates, switching payment instruments, or changing shipping details. The request body has the same structure as the initiate request. Returns the same instructionId (HTTP 200) on success, or PENDING (HTTP 202) with pendingEvents if additional cardholder authentication is required for the updated intent.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticUpdatePurchaseIntentRequest  (required)
     * @return ApiResponse&lt;AgenticCreatePurchaseIntentResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AgenticCreatePurchaseIntentResponse200> updatePurchaseIntentWithHttpInfo(String instructionId, AgenticUpdatePurchaseIntentRequest agenticUpdatePurchaseIntentRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = updatePurchaseIntentValidateBeforeCall(instructionId, agenticUpdatePurchaseIntentRequest, null, null);
        Type localVarReturnType = new TypeToken<AgenticCreatePurchaseIntentResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update a purchase intent (asynchronously)
     * Update an existing purchase intent (instruction) identified by its instructionId. The agent calls this endpoint when the consumer modifies their order — for example, changing the quantity, updating mandates, switching payment instruments, or changing shipping details. The request body has the same structure as the initiate request. Returns the same instructionId (HTTP 200) on success, or PENDING (HTTP 202) with pendingEvents if additional cardholder authentication is required for the updated intent.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticUpdatePurchaseIntentRequest  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call updatePurchaseIntentAsync(String instructionId, AgenticUpdatePurchaseIntentRequest agenticUpdatePurchaseIntentRequest, final ApiCallback<AgenticCreatePurchaseIntentResponse200> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = updatePurchaseIntentValidateBeforeCall(instructionId, agenticUpdatePurchaseIntentRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AgenticCreatePurchaseIntentResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
