/*
 * CyberSource Merged Spec
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package Api;

import Invokers.ApiCallback;
import Invokers.ApiClient;
import Invokers.ApiException;
import Invokers.ApiResponse;
import Invokers.Configuration;
import Invokers.Pair;
import Invokers.ProgressRequestBody;
import Invokers.ProgressResponseBody;

import com.cybersource.authsdk.core.ConfigException;
import com.google.gson.reflect.TypeToken;

import java.io.IOException;
import java.io.InputStream;


import Model.AgenticCardEnrollmentBadRequestResponse400;
import Model.AgenticConfirmTransactionEventsRequest;
import Model.AgenticConfirmTransactionEventsResponse202;
import Model.AgenticRetrievePaymentCredentialsRequest;
import Model.AgenticRetrievePaymentCredentialsResponse200;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import utilities.tracking.SdkTracker;
import com.cybersource.authsdk.util.mle.MLEUtility;
import com.cybersource.authsdk.util.mle.MLEException;

public class PaymentEventsApi {
    private static Logger logger = LogManager.getLogger(PaymentEventsApi.class);
    
    private ApiClient apiClient;

    public PaymentEventsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PaymentEventsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for confirmTransactionEvents
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call confirmTransactionEventsCall(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(agenticConfirmTransactionEventsRequest, AgenticConfirmTransactionEventsRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "confirmTransactionEvents,confirmTransactionEventsAsync,confirmTransactionEventsWithHttpInfo,confirmTransactionEventsCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "confirmTransactionEvents,confirmTransactionEventsAsync,confirmTransactionEventsWithHttpInfo,confirmTransactionEventsCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/instructions/{instructionId}/confirmations"
            .replaceAll("\\{" + "instructionId" + "\\}", apiClient.escapeString(instructionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call confirmTransactionEventsValidateBeforeCall(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'instructionId' is set
        if (instructionId == null) {
            logger.error("Missing the required parameter 'instructionId' when calling confirmTransactionEvents(Async)");
            throw new ApiException("Missing the required parameter 'instructionId' when calling confirmTransactionEvents(Async)");
        }
        
        // verify the required parameter 'agenticConfirmTransactionEventsRequest' is set
        if (agenticConfirmTransactionEventsRequest == null) {
            logger.error("Missing the required parameter 'agenticConfirmTransactionEventsRequest' when calling confirmTransactionEvents(Async)");
            throw new ApiException("Missing the required parameter 'agenticConfirmTransactionEventsRequest' when calling confirmTransactionEvents(Async)");
        }
        
        
        okhttp3.Call call = confirmTransactionEventsCall(instructionId, agenticConfirmTransactionEventsRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Confirm transaction events
     * Confirm transaction events for a completed purchase. The agent calls this endpoint after the payment has been submitted to notify the Intelligent Commerce Connect of the transaction outcome. The request includes processor information (transaction type, status, approval codes), order details (shipping, tracking, product information), and merchant information. Returns HTTP 202 acknowledging receipt of the confirmation.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @return AgenticConfirmTransactionEventsResponse202
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AgenticConfirmTransactionEventsResponse202 confirmTransactionEvents(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'confirmTransactionEvents' STARTED");
        ApiResponse<AgenticConfirmTransactionEventsResponse202> resp = confirmTransactionEventsWithHttpInfo(instructionId, agenticConfirmTransactionEventsRequest);
        logger.info("CALL TO METHOD 'confirmTransactionEvents' ENDED");
        return resp.getData();
    }

    /**
     * Confirm transaction events
     * Confirm transaction events for a completed purchase. The agent calls this endpoint after the payment has been submitted to notify the Intelligent Commerce Connect of the transaction outcome. The request includes processor information (transaction type, status, approval codes), order details (shipping, tracking, product information), and merchant information. Returns HTTP 202 acknowledging receipt of the confirmation.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @return ApiResponse&lt;AgenticConfirmTransactionEventsResponse202&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AgenticConfirmTransactionEventsResponse202> confirmTransactionEventsWithHttpInfo(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = confirmTransactionEventsValidateBeforeCall(instructionId, agenticConfirmTransactionEventsRequest, null, null);
        Type localVarReturnType = new TypeToken<AgenticConfirmTransactionEventsResponse202>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Confirm transaction events (asynchronously)
     * Confirm transaction events for a completed purchase. The agent calls this endpoint after the payment has been submitted to notify the Intelligent Commerce Connect of the transaction outcome. The request includes processor information (transaction type, status, approval codes), order details (shipping, tracking, product information), and merchant information. Returns HTTP 202 acknowledging receipt of the confirmation.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticConfirmTransactionEventsRequest  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call confirmTransactionEventsAsync(String instructionId, AgenticConfirmTransactionEventsRequest agenticConfirmTransactionEventsRequest, final ApiCallback<AgenticConfirmTransactionEventsResponse202> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = confirmTransactionEventsValidateBeforeCall(instructionId, agenticConfirmTransactionEventsRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AgenticConfirmTransactionEventsResponse202>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for retrievePaymentCredentials
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticRetrievePaymentCredentialsRequest  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call retrievePaymentCredentialsCall(String instructionId, AgenticRetrievePaymentCredentialsRequest agenticRetrievePaymentCredentialsRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(agenticRetrievePaymentCredentialsRequest, AgenticRetrievePaymentCredentialsRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "retrievePaymentCredentials,retrievePaymentCredentialsAsync,retrievePaymentCredentialsWithHttpInfo,retrievePaymentCredentialsCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "retrievePaymentCredentials,retrievePaymentCredentialsAsync,retrievePaymentCredentialsWithHttpInfo,retrievePaymentCredentialsCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/instructions/{instructionId}/credentials"
            .replaceAll("\\{" + "instructionId" + "\\}", apiClient.escapeString(instructionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call retrievePaymentCredentialsValidateBeforeCall(String instructionId, AgenticRetrievePaymentCredentialsRequest agenticRetrievePaymentCredentialsRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'instructionId' is set
        if (instructionId == null) {
            logger.error("Missing the required parameter 'instructionId' when calling retrievePaymentCredentials(Async)");
            throw new ApiException("Missing the required parameter 'instructionId' when calling retrievePaymentCredentials(Async)");
        }
        
        // verify the required parameter 'agenticRetrievePaymentCredentialsRequest' is set
        if (agenticRetrievePaymentCredentialsRequest == null) {
            logger.error("Missing the required parameter 'agenticRetrievePaymentCredentialsRequest' when calling retrievePaymentCredentials(Async)");
            throw new ApiException("Missing the required parameter 'agenticRetrievePaymentCredentialsRequest' when calling retrievePaymentCredentials(Async)");
        }
        
        
        okhttp3.Call call = retrievePaymentCredentialsCall(instructionId, agenticRetrievePaymentCredentialsRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Retrieve payment credentials
     * Retrieve tokenized payment credentials for a purchase intent to complete the transaction at a merchant. The agent calls this endpoint after a purchase intent has been created and approved, providing transaction-level details including order information, merchant details, payment options, and production information. Returns COMPLETED (HTTP 200) with a signed payload containing encrypted payment credentials (authorization token and JWS-signed payload), or PENDING (HTTP 202) with pendingEvents if additional cardholder authentication is required. The signed payload is used by the merchant&#39;s payment processor to complete the transaction.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticRetrievePaymentCredentialsRequest  (required)
     * @return AgenticRetrievePaymentCredentialsResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public AgenticRetrievePaymentCredentialsResponse200 retrievePaymentCredentials(String instructionId, AgenticRetrievePaymentCredentialsRequest agenticRetrievePaymentCredentialsRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'retrievePaymentCredentials' STARTED");
        ApiResponse<AgenticRetrievePaymentCredentialsResponse200> resp = retrievePaymentCredentialsWithHttpInfo(instructionId, agenticRetrievePaymentCredentialsRequest);
        logger.info("CALL TO METHOD 'retrievePaymentCredentials' ENDED");
        return resp.getData();
    }

    /**
     * Retrieve payment credentials
     * Retrieve tokenized payment credentials for a purchase intent to complete the transaction at a merchant. The agent calls this endpoint after a purchase intent has been created and approved, providing transaction-level details including order information, merchant details, payment options, and production information. Returns COMPLETED (HTTP 200) with a signed payload containing encrypted payment credentials (authorization token and JWS-signed payload), or PENDING (HTTP 202) with pendingEvents if additional cardholder authentication is required. The signed payload is used by the merchant&#39;s payment processor to complete the transaction.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticRetrievePaymentCredentialsRequest  (required)
     * @return ApiResponse&lt;AgenticRetrievePaymentCredentialsResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<AgenticRetrievePaymentCredentialsResponse200> retrievePaymentCredentialsWithHttpInfo(String instructionId, AgenticRetrievePaymentCredentialsRequest agenticRetrievePaymentCredentialsRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = retrievePaymentCredentialsValidateBeforeCall(instructionId, agenticRetrievePaymentCredentialsRequest, null, null);
        Type localVarReturnType = new TypeToken<AgenticRetrievePaymentCredentialsResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve payment credentials (asynchronously)
     * Retrieve tokenized payment credentials for a purchase intent to complete the transaction at a merchant. The agent calls this endpoint after a purchase intent has been created and approved, providing transaction-level details including order information, merchant details, payment options, and production information. Returns COMPLETED (HTTP 200) with a signed payload containing encrypted payment credentials (authorization token and JWS-signed payload), or PENDING (HTTP 202) with pendingEvents if additional cardholder authentication is required. The signed payload is used by the merchant&#39;s payment processor to complete the transaction.
     * @param instructionId Unique identifier for the purchase intent instruction. (required)
     * @param agenticRetrievePaymentCredentialsRequest  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call retrievePaymentCredentialsAsync(String instructionId, AgenticRetrievePaymentCredentialsRequest agenticRetrievePaymentCredentialsRequest, final ApiCallback<AgenticRetrievePaymentCredentialsResponse200> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = retrievePaymentCredentialsValidateBeforeCall(instructionId, agenticRetrievePaymentCredentialsRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AgenticRetrievePaymentCredentialsResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
