/*
 * CyberSource Merged Spec
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package Api;

import Invokers.ApiCallback;
import Invokers.ApiClient;
import Invokers.ApiException;
import Invokers.ApiResponse;
import Invokers.Configuration;
import Invokers.Pair;
import Invokers.ProgressRequestBody;
import Invokers.ProgressResponseBody;

import com.cybersource.authsdk.core.ConfigException;
import com.google.gson.reflect.TypeToken;

import java.io.IOException;
import java.io.InputStream;


import Model.PullFunds201Response;
import Model.PullFundsRefund201Response;
import Model.PullFundsRefundRequest;
import Model.PullFundsRequest;
import Model.PullFundsReversal201Response;
import Model.PullFundsReversal400Response;
import Model.PullFundsReversalRequest;
import Model.PushFunds400Response;
import Model.PushFunds401Response;
import Model.PushFunds404Response;
import Model.PushFunds502Response;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import utilities.tracking.SdkTracker;
import com.cybersource.authsdk.util.mle.MLEUtility;
import com.cybersource.authsdk.util.mle.MLEException;

public class PullFundsApi {
    private static Logger logger = LogManager.getLogger(PullFundsApi.class);
    
    private ApiClient apiClient;

    public PullFundsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PullFundsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createPullFundsRefund
     * @param pullFundsRefundRequest  (required)
     * @param id The transaction id of a previous Account Funding Transaction.  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call createPullFundsRefundCall(PullFundsRefundRequest pullFundsRefundRequest, String id, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(pullFundsRefundRequest, PullFundsRefundRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "false";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "createPullFundsRefund,createPullFundsRefundAsync,createPullFundsRefundWithHttpInfo,createPullFundsRefundCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "createPullFundsRefund,createPullFundsRefundAsync,createPullFundsRefundWithHttpInfo,createPullFundsRefundCall");
        
        // create path and map variables
        String localVarPath = "/pts/v1/pull-funds-transfer/{id}/refund"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (contentType != null)
        localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
        if (xRequestid != null)
        localVarHeaderParams.put("x-requestid", apiClient.parameterToString(xRequestid));
        if (vCMerchantId != null)
        localVarHeaderParams.put("v-c-merchant-id", apiClient.parameterToString(vCMerchantId));
        if (vCPermissions != null)
        localVarHeaderParams.put("v-c-permissions", apiClient.parameterToString(vCPermissions));
        if (vCCorrelationId != null)
        localVarHeaderParams.put("v-c-correlation-id", apiClient.parameterToString(vCCorrelationId));
        if (vCOrganizationId != null)
        localVarHeaderParams.put("v-c-organization-id", apiClient.parameterToString(vCOrganizationId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call createPullFundsRefundValidateBeforeCall(PullFundsRefundRequest pullFundsRefundRequest, String id, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'pullFundsRefundRequest' is set
        if (pullFundsRefundRequest == null) {
            logger.error("Missing the required parameter 'pullFundsRefundRequest' when calling createPullFundsRefund(Async)");
            throw new ApiException("Missing the required parameter 'pullFundsRefundRequest' when calling createPullFundsRefund(Async)");
        }
        
        // verify the required parameter 'id' is set
        if (id == null) {
            logger.error("Missing the required parameter 'id' when calling createPullFundsRefund(Async)");
            throw new ApiException("Missing the required parameter 'id' when calling createPullFundsRefund(Async)");
        }
        
        // verify the required parameter 'contentType' is set
        if (contentType == null) {
            logger.error("Missing the required parameter 'contentType' when calling createPullFundsRefund(Async)");
            throw new ApiException("Missing the required parameter 'contentType' when calling createPullFundsRefund(Async)");
        }
        
        // verify the required parameter 'xRequestid' is set
        if (xRequestid == null) {
            logger.error("Missing the required parameter 'xRequestid' when calling createPullFundsRefund(Async)");
            throw new ApiException("Missing the required parameter 'xRequestid' when calling createPullFundsRefund(Async)");
        }
        
        // verify the required parameter 'vCMerchantId' is set
        if (vCMerchantId == null) {
            logger.error("Missing the required parameter 'vCMerchantId' when calling createPullFundsRefund(Async)");
            throw new ApiException("Missing the required parameter 'vCMerchantId' when calling createPullFundsRefund(Async)");
        }
        
        // verify the required parameter 'vCPermissions' is set
        if (vCPermissions == null) {
            logger.error("Missing the required parameter 'vCPermissions' when calling createPullFundsRefund(Async)");
            throw new ApiException("Missing the required parameter 'vCPermissions' when calling createPullFundsRefund(Async)");
        }
        
        // verify the required parameter 'vCCorrelationId' is set
        if (vCCorrelationId == null) {
            logger.error("Missing the required parameter 'vCCorrelationId' when calling createPullFundsRefund(Async)");
            throw new ApiException("Missing the required parameter 'vCCorrelationId' when calling createPullFundsRefund(Async)");
        }
        
        // verify the required parameter 'vCOrganizationId' is set
        if (vCOrganizationId == null) {
            logger.error("Missing the required parameter 'vCOrganizationId' when calling createPullFundsRefund(Async)");
            throw new ApiException("Missing the required parameter 'vCOrganizationId' when calling createPullFundsRefund(Async)");
        }
        
        
        okhttp3.Call call = createPullFundsRefundCall(pullFundsRefundRequest, id, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Process a Pull Funds Refund
     * Refund an Account Funding Transaction (AFT). 
     * @param pullFundsRefundRequest  (required)
     * @param id The transaction id of a previous Account Funding Transaction.  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @return PullFundsRefund201Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public PullFundsRefund201Response createPullFundsRefund(PullFundsRefundRequest pullFundsRefundRequest, String id, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'createPullFundsRefund' STARTED");
        ApiResponse<PullFundsRefund201Response> resp = createPullFundsRefundWithHttpInfo(pullFundsRefundRequest, id, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId);
        logger.info("CALL TO METHOD 'createPullFundsRefund' ENDED");
        return resp.getData();
    }

    /**
     * Process a Pull Funds Refund
     * Refund an Account Funding Transaction (AFT). 
     * @param pullFundsRefundRequest  (required)
     * @param id The transaction id of a previous Account Funding Transaction.  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @return ApiResponse&lt;PullFundsRefund201Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<PullFundsRefund201Response> createPullFundsRefundWithHttpInfo(PullFundsRefundRequest pullFundsRefundRequest, String id, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = createPullFundsRefundValidateBeforeCall(pullFundsRefundRequest, id, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId, null, null);
        Type localVarReturnType = new TypeToken<PullFundsRefund201Response>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Process a Pull Funds Refund (asynchronously)
     * Refund an Account Funding Transaction (AFT). 
     * @param pullFundsRefundRequest  (required)
     * @param id The transaction id of a previous Account Funding Transaction.  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call createPullFundsRefundAsync(PullFundsRefundRequest pullFundsRefundRequest, String id, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId, final ApiCallback<PullFundsRefund201Response> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = createPullFundsRefundValidateBeforeCall(pullFundsRefundRequest, id, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PullFundsRefund201Response>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createPullFundsReversal
     * @param pullFundsReversalRequest  (required)
     * @param id The transaction id of a previous Account Funding Transaction.  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call createPullFundsReversalCall(PullFundsReversalRequest pullFundsReversalRequest, String id, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(pullFundsReversalRequest, PullFundsReversalRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "false";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "createPullFundsReversal,createPullFundsReversalAsync,createPullFundsReversalWithHttpInfo,createPullFundsReversalCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "createPullFundsReversal,createPullFundsReversalAsync,createPullFundsReversalWithHttpInfo,createPullFundsReversalCall");
        
        // create path and map variables
        String localVarPath = "/pts/v1/pull-funds-transfer/{id}/reversal"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (contentType != null)
        localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
        if (xRequestid != null)
        localVarHeaderParams.put("x-requestid", apiClient.parameterToString(xRequestid));
        if (vCMerchantId != null)
        localVarHeaderParams.put("v-c-merchant-id", apiClient.parameterToString(vCMerchantId));
        if (vCPermissions != null)
        localVarHeaderParams.put("v-c-permissions", apiClient.parameterToString(vCPermissions));
        if (vCCorrelationId != null)
        localVarHeaderParams.put("v-c-correlation-id", apiClient.parameterToString(vCCorrelationId));
        if (vCOrganizationId != null)
        localVarHeaderParams.put("v-c-organization-id", apiClient.parameterToString(vCOrganizationId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call createPullFundsReversalValidateBeforeCall(PullFundsReversalRequest pullFundsReversalRequest, String id, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'pullFundsReversalRequest' is set
        if (pullFundsReversalRequest == null) {
            logger.error("Missing the required parameter 'pullFundsReversalRequest' when calling createPullFundsReversal(Async)");
            throw new ApiException("Missing the required parameter 'pullFundsReversalRequest' when calling createPullFundsReversal(Async)");
        }
        
        // verify the required parameter 'id' is set
        if (id == null) {
            logger.error("Missing the required parameter 'id' when calling createPullFundsReversal(Async)");
            throw new ApiException("Missing the required parameter 'id' when calling createPullFundsReversal(Async)");
        }
        
        // verify the required parameter 'contentType' is set
        if (contentType == null) {
            logger.error("Missing the required parameter 'contentType' when calling createPullFundsReversal(Async)");
            throw new ApiException("Missing the required parameter 'contentType' when calling createPullFundsReversal(Async)");
        }
        
        // verify the required parameter 'xRequestid' is set
        if (xRequestid == null) {
            logger.error("Missing the required parameter 'xRequestid' when calling createPullFundsReversal(Async)");
            throw new ApiException("Missing the required parameter 'xRequestid' when calling createPullFundsReversal(Async)");
        }
        
        // verify the required parameter 'vCMerchantId' is set
        if (vCMerchantId == null) {
            logger.error("Missing the required parameter 'vCMerchantId' when calling createPullFundsReversal(Async)");
            throw new ApiException("Missing the required parameter 'vCMerchantId' when calling createPullFundsReversal(Async)");
        }
        
        // verify the required parameter 'vCPermissions' is set
        if (vCPermissions == null) {
            logger.error("Missing the required parameter 'vCPermissions' when calling createPullFundsReversal(Async)");
            throw new ApiException("Missing the required parameter 'vCPermissions' when calling createPullFundsReversal(Async)");
        }
        
        // verify the required parameter 'vCCorrelationId' is set
        if (vCCorrelationId == null) {
            logger.error("Missing the required parameter 'vCCorrelationId' when calling createPullFundsReversal(Async)");
            throw new ApiException("Missing the required parameter 'vCCorrelationId' when calling createPullFundsReversal(Async)");
        }
        
        // verify the required parameter 'vCOrganizationId' is set
        if (vCOrganizationId == null) {
            logger.error("Missing the required parameter 'vCOrganizationId' when calling createPullFundsReversal(Async)");
            throw new ApiException("Missing the required parameter 'vCOrganizationId' when calling createPullFundsReversal(Async)");
        }
        
        
        okhttp3.Call call = createPullFundsReversalCall(pullFundsReversalRequest, id, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Process a Pull Funds Reversal
     * Reverse an Account Funding Transaction (AFT). 
     * @param pullFundsReversalRequest  (required)
     * @param id The transaction id of a previous Account Funding Transaction.  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @return PullFundsReversal201Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public PullFundsReversal201Response createPullFundsReversal(PullFundsReversalRequest pullFundsReversalRequest, String id, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'createPullFundsReversal' STARTED");
        ApiResponse<PullFundsReversal201Response> resp = createPullFundsReversalWithHttpInfo(pullFundsReversalRequest, id, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId);
        logger.info("CALL TO METHOD 'createPullFundsReversal' ENDED");
        return resp.getData();
    }

    /**
     * Process a Pull Funds Reversal
     * Reverse an Account Funding Transaction (AFT). 
     * @param pullFundsReversalRequest  (required)
     * @param id The transaction id of a previous Account Funding Transaction.  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @return ApiResponse&lt;PullFundsReversal201Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<PullFundsReversal201Response> createPullFundsReversalWithHttpInfo(PullFundsReversalRequest pullFundsReversalRequest, String id, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = createPullFundsReversalValidateBeforeCall(pullFundsReversalRequest, id, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId, null, null);
        Type localVarReturnType = new TypeToken<PullFundsReversal201Response>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Process a Pull Funds Reversal (asynchronously)
     * Reverse an Account Funding Transaction (AFT). 
     * @param pullFundsReversalRequest  (required)
     * @param id The transaction id of a previous Account Funding Transaction.  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call createPullFundsReversalAsync(PullFundsReversalRequest pullFundsReversalRequest, String id, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId, final ApiCallback<PullFundsReversal201Response> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = createPullFundsReversalValidateBeforeCall(pullFundsReversalRequest, id, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PullFundsReversal201Response>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createPullFundsTransfer
     * @param pullFundsRequest  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call createPullFundsTransferCall(PullFundsRequest pullFundsRequest, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(pullFundsRequest, PullFundsRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "false";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "createPullFundsTransfer,createPullFundsTransferAsync,createPullFundsTransferWithHttpInfo,createPullFundsTransferCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "createPullFundsTransfer,createPullFundsTransferAsync,createPullFundsTransferWithHttpInfo,createPullFundsTransferCall");
        
        // create path and map variables
        String localVarPath = "/pts/v1/pull-funds-transfer";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (contentType != null)
        localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
        if (xRequestid != null)
        localVarHeaderParams.put("x-requestid", apiClient.parameterToString(xRequestid));
        if (vCMerchantId != null)
        localVarHeaderParams.put("v-c-merchant-id", apiClient.parameterToString(vCMerchantId));
        if (vCPermissions != null)
        localVarHeaderParams.put("v-c-permissions", apiClient.parameterToString(vCPermissions));
        if (vCCorrelationId != null)
        localVarHeaderParams.put("v-c-correlation-id", apiClient.parameterToString(vCCorrelationId));
        if (vCOrganizationId != null)
        localVarHeaderParams.put("v-c-organization-id", apiClient.parameterToString(vCOrganizationId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call createPullFundsTransferValidateBeforeCall(PullFundsRequest pullFundsRequest, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'pullFundsRequest' is set
        if (pullFundsRequest == null) {
            logger.error("Missing the required parameter 'pullFundsRequest' when calling createPullFundsTransfer(Async)");
            throw new ApiException("Missing the required parameter 'pullFundsRequest' when calling createPullFundsTransfer(Async)");
        }
        
        // verify the required parameter 'contentType' is set
        if (contentType == null) {
            logger.error("Missing the required parameter 'contentType' when calling createPullFundsTransfer(Async)");
            throw new ApiException("Missing the required parameter 'contentType' when calling createPullFundsTransfer(Async)");
        }
        
        // verify the required parameter 'xRequestid' is set
        if (xRequestid == null) {
            logger.error("Missing the required parameter 'xRequestid' when calling createPullFundsTransfer(Async)");
            throw new ApiException("Missing the required parameter 'xRequestid' when calling createPullFundsTransfer(Async)");
        }
        
        // verify the required parameter 'vCMerchantId' is set
        if (vCMerchantId == null) {
            logger.error("Missing the required parameter 'vCMerchantId' when calling createPullFundsTransfer(Async)");
            throw new ApiException("Missing the required parameter 'vCMerchantId' when calling createPullFundsTransfer(Async)");
        }
        
        // verify the required parameter 'vCPermissions' is set
        if (vCPermissions == null) {
            logger.error("Missing the required parameter 'vCPermissions' when calling createPullFundsTransfer(Async)");
            throw new ApiException("Missing the required parameter 'vCPermissions' when calling createPullFundsTransfer(Async)");
        }
        
        // verify the required parameter 'vCCorrelationId' is set
        if (vCCorrelationId == null) {
            logger.error("Missing the required parameter 'vCCorrelationId' when calling createPullFundsTransfer(Async)");
            throw new ApiException("Missing the required parameter 'vCCorrelationId' when calling createPullFundsTransfer(Async)");
        }
        
        // verify the required parameter 'vCOrganizationId' is set
        if (vCOrganizationId == null) {
            logger.error("Missing the required parameter 'vCOrganizationId' when calling createPullFundsTransfer(Async)");
            throw new ApiException("Missing the required parameter 'vCOrganizationId' when calling createPullFundsTransfer(Async)");
        }
        
        
        okhttp3.Call call = createPullFundsTransferCall(pullFundsRequest, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Process a Pull Funds Transfer
     * Receive funds using an Account Funding Transaction (AFT). 
     * @param pullFundsRequest  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @return PullFunds201Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public PullFunds201Response createPullFundsTransfer(PullFundsRequest pullFundsRequest, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'createPullFundsTransfer' STARTED");
        ApiResponse<PullFunds201Response> resp = createPullFundsTransferWithHttpInfo(pullFundsRequest, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId);
        logger.info("CALL TO METHOD 'createPullFundsTransfer' ENDED");
        return resp.getData();
    }

    /**
     * Process a Pull Funds Transfer
     * Receive funds using an Account Funding Transaction (AFT). 
     * @param pullFundsRequest  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @return ApiResponse&lt;PullFunds201Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<PullFunds201Response> createPullFundsTransferWithHttpInfo(PullFundsRequest pullFundsRequest, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = createPullFundsTransferValidateBeforeCall(pullFundsRequest, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId, null, null);
        Type localVarReturnType = new TypeToken<PullFunds201Response>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Process a Pull Funds Transfer (asynchronously)
     * Receive funds using an Account Funding Transaction (AFT). 
     * @param pullFundsRequest  (required)
     * @param contentType  (required)
     * @param xRequestid  (required)
     * @param vCMerchantId  (required)
     * @param vCPermissions  (required)
     * @param vCCorrelationId  (required)
     * @param vCOrganizationId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call createPullFundsTransferAsync(PullFundsRequest pullFundsRequest, String contentType, String xRequestid, String vCMerchantId, String vCPermissions, String vCCorrelationId, String vCOrganizationId, final ApiCallback<PullFunds201Response> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = createPullFundsTransferValidateBeforeCall(pullFundsRequest, contentType, xRequestid, vCMerchantId, vCPermissions, vCCorrelationId, vCOrganizationId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PullFunds201Response>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
