/*
 * CyberSource Merged Spec
 * All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package Api;

import Invokers.ApiCallback;
import Invokers.ApiClient;
import Invokers.ApiException;
import Invokers.ApiResponse;
import Invokers.Configuration;
import Invokers.Pair;
import Invokers.ProgressRequestBody;
import Invokers.ProgressResponseBody;

import com.cybersource.authsdk.core.ConfigException;
import com.google.gson.reflect.TypeToken;

import java.io.IOException;
import java.io.InputStream;


import Model.InlineResponse20113;
import Model.InlineResponse40016;
import Model.UcpCompleteCheckoutRequest;
import Model.UcpCreateCheckoutSessionRequest;
import Model.UcpUpdateCheckoutSessionRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import utilities.tracking.SdkTracker;
import com.cybersource.authsdk.util.mle.MLEUtility;
import com.cybersource.authsdk.util.mle.MLEException;

public class UcpCheckoutApi {
    private static Logger logger = LogManager.getLogger(UcpCheckoutApi.class);
    
    private ApiClient apiClient;

    public UcpCheckoutApi() {
        this(Configuration.getDefaultApiClient());
    }

    public UcpCheckoutApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for ucpCancelCheckout
     * @param sessionId The unique identifier of the UCP checkout session to cancel. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call ucpCancelCheckoutCall(String sessionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = null;
        if ("POST".equalsIgnoreCase("POST")) {
            localVarPostBody = "{}";
        }
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "ucpCancelCheckout,ucpCancelCheckoutAsync,ucpCancelCheckoutWithHttpInfo,ucpCancelCheckoutCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "ucpCancelCheckout,ucpCancelCheckoutAsync,ucpCancelCheckoutWithHttpInfo,ucpCancelCheckoutCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout-sessions/{session_id}/cancel"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call ucpCancelCheckoutValidateBeforeCall(String sessionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            logger.error("Missing the required parameter 'sessionId' when calling ucpCancelCheckout(Async)");
            throw new ApiException("Missing the required parameter 'sessionId' when calling ucpCancelCheckout(Async)");
        }
        
        
        okhttp3.Call call = ucpCancelCheckoutCall(sessionId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Cancel Checkout UCP
     * Cancels an active UCP checkout session. No charge is made.  This operation is idempotent — cancelling an already-cancelled session returns a successful response. Sessions also expire automatically after 30 minutes of inactivity. 
     * @param sessionId The unique identifier of the UCP checkout session to cancel. (required)
     * @return InlineResponse20113
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20113 ucpCancelCheckout(String sessionId) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'ucpCancelCheckout' STARTED");
        ApiResponse<InlineResponse20113> resp = ucpCancelCheckoutWithHttpInfo(sessionId);
        logger.info("CALL TO METHOD 'ucpCancelCheckout' ENDED");
        return resp.getData();
    }

    /**
     * Cancel Checkout UCP
     * Cancels an active UCP checkout session. No charge is made.  This operation is idempotent — cancelling an already-cancelled session returns a successful response. Sessions also expire automatically after 30 minutes of inactivity. 
     * @param sessionId The unique identifier of the UCP checkout session to cancel. (required)
     * @return ApiResponse&lt;InlineResponse20113&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20113> ucpCancelCheckoutWithHttpInfo(String sessionId) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = ucpCancelCheckoutValidateBeforeCall(sessionId, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20113>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Cancel Checkout UCP (asynchronously)
     * Cancels an active UCP checkout session. No charge is made.  This operation is idempotent — cancelling an already-cancelled session returns a successful response. Sessions also expire automatically after 30 minutes of inactivity. 
     * @param sessionId The unique identifier of the UCP checkout session to cancel. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call ucpCancelCheckoutAsync(String sessionId, final ApiCallback<InlineResponse20113> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = ucpCancelCheckoutValidateBeforeCall(sessionId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20113>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for ucpCompleteCheckout
     * @param sessionId The unique identifier of the UCP checkout session to complete. (required)
     * @param idempotencyKey **Strongly recommended.** A unique key that ensures this order is placed exactly once on retries. Lowercase per UCP spec.  (optional)
     * @param ucpCompleteCheckoutRequest UCP completion payload containing payment instrument and optional risk signals. If payment context was already provided in the Create or Update call, the body can be omitted. Risk signals are logged for fraud analysis and are not forwarded to the merchant.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call ucpCompleteCheckoutCall(String sessionId, String idempotencyKey, UcpCompleteCheckoutRequest ucpCompleteCheckoutRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(ucpCompleteCheckoutRequest, UcpCompleteCheckoutRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "ucpCompleteCheckout,ucpCompleteCheckoutAsync,ucpCompleteCheckoutWithHttpInfo,ucpCompleteCheckoutCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "ucpCompleteCheckout,ucpCompleteCheckoutAsync,ucpCompleteCheckoutWithHttpInfo,ucpCompleteCheckoutCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout-sessions/{session_id}/complete"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("idempotency-key", apiClient.parameterToString(idempotencyKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call ucpCompleteCheckoutValidateBeforeCall(String sessionId, String idempotencyKey, UcpCompleteCheckoutRequest ucpCompleteCheckoutRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            logger.error("Missing the required parameter 'sessionId' when calling ucpCompleteCheckout(Async)");
            throw new ApiException("Missing the required parameter 'sessionId' when calling ucpCompleteCheckout(Async)");
        }
        
        
        okhttp3.Call call = ucpCompleteCheckoutCall(sessionId, idempotencyKey, ucpCompleteCheckoutRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Complete Checkout UCP
     * **Final step of the UCP checkout flow.**  Finalizes the session and places the order with the merchant. ACG translates the UCP completion request to the merchant&#39;s checkout API.  On success, the session transitions to &#x60;completed&#x60;. An &#x60;order_id&#x60; is not returned in the UCP response — use the ACP Complete endpoint if you need order confirmation details.  **Always use an &#x60;idempotency-key&#x60;** to prevent duplicate orders on network retries. 
     * @param sessionId The unique identifier of the UCP checkout session to complete. (required)
     * @param idempotencyKey **Strongly recommended.** A unique key that ensures this order is placed exactly once on retries. Lowercase per UCP spec.  (optional)
     * @param ucpCompleteCheckoutRequest UCP completion payload containing payment instrument and optional risk signals. If payment context was already provided in the Create or Update call, the body can be omitted. Risk signals are logged for fraud analysis and are not forwarded to the merchant.  (optional)
     * @return InlineResponse20113
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20113 ucpCompleteCheckout(String sessionId, String idempotencyKey, UcpCompleteCheckoutRequest ucpCompleteCheckoutRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'ucpCompleteCheckout' STARTED");
        ApiResponse<InlineResponse20113> resp = ucpCompleteCheckoutWithHttpInfo(sessionId, idempotencyKey, ucpCompleteCheckoutRequest);
        logger.info("CALL TO METHOD 'ucpCompleteCheckout' ENDED");
        return resp.getData();
    }

    /**
     * Complete Checkout UCP
     * **Final step of the UCP checkout flow.**  Finalizes the session and places the order with the merchant. ACG translates the UCP completion request to the merchant&#39;s checkout API.  On success, the session transitions to &#x60;completed&#x60;. An &#x60;order_id&#x60; is not returned in the UCP response — use the ACP Complete endpoint if you need order confirmation details.  **Always use an &#x60;idempotency-key&#x60;** to prevent duplicate orders on network retries. 
     * @param sessionId The unique identifier of the UCP checkout session to complete. (required)
     * @param idempotencyKey **Strongly recommended.** A unique key that ensures this order is placed exactly once on retries. Lowercase per UCP spec.  (optional)
     * @param ucpCompleteCheckoutRequest UCP completion payload containing payment instrument and optional risk signals. If payment context was already provided in the Create or Update call, the body can be omitted. Risk signals are logged for fraud analysis and are not forwarded to the merchant.  (optional)
     * @return ApiResponse&lt;InlineResponse20113&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20113> ucpCompleteCheckoutWithHttpInfo(String sessionId, String idempotencyKey, UcpCompleteCheckoutRequest ucpCompleteCheckoutRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = ucpCompleteCheckoutValidateBeforeCall(sessionId, idempotencyKey, ucpCompleteCheckoutRequest, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20113>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Complete Checkout UCP (asynchronously)
     * **Final step of the UCP checkout flow.**  Finalizes the session and places the order with the merchant. ACG translates the UCP completion request to the merchant&#39;s checkout API.  On success, the session transitions to &#x60;completed&#x60;. An &#x60;order_id&#x60; is not returned in the UCP response — use the ACP Complete endpoint if you need order confirmation details.  **Always use an &#x60;idempotency-key&#x60;** to prevent duplicate orders on network retries. 
     * @param sessionId The unique identifier of the UCP checkout session to complete. (required)
     * @param idempotencyKey **Strongly recommended.** A unique key that ensures this order is placed exactly once on retries. Lowercase per UCP spec.  (optional)
     * @param ucpCompleteCheckoutRequest UCP completion payload containing payment instrument and optional risk signals. If payment context was already provided in the Create or Update call, the body can be omitted. Risk signals are logged for fraud analysis and are not forwarded to the merchant.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call ucpCompleteCheckoutAsync(String sessionId, String idempotencyKey, UcpCompleteCheckoutRequest ucpCompleteCheckoutRequest, final ApiCallback<InlineResponse20113> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = ucpCompleteCheckoutValidateBeforeCall(sessionId, idempotencyKey, ucpCompleteCheckoutRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20113>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for ucpCreateCheckoutSession
     * @param ucpCreateCheckoutSessionRequest UCP checkout session creation payload containing line items, buyer details, currency, and optional payment, fulfillment, and discount information.  (required)
     * @param idempotencyKey Client-generated unique key (UUID recommended) to ensure this request is processed exactly once. Lowercase per UCP specification.  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call ucpCreateCheckoutSessionCall(UcpCreateCheckoutSessionRequest ucpCreateCheckoutSessionRequest, String idempotencyKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(ucpCreateCheckoutSessionRequest, UcpCreateCheckoutSessionRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "ucpCreateCheckoutSession,ucpCreateCheckoutSessionAsync,ucpCreateCheckoutSessionWithHttpInfo,ucpCreateCheckoutSessionCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "ucpCreateCheckoutSession,ucpCreateCheckoutSessionAsync,ucpCreateCheckoutSessionWithHttpInfo,ucpCreateCheckoutSessionCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout-sessions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("idempotency-key", apiClient.parameterToString(idempotencyKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call ucpCreateCheckoutSessionValidateBeforeCall(UcpCreateCheckoutSessionRequest ucpCreateCheckoutSessionRequest, String idempotencyKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'ucpCreateCheckoutSessionRequest' is set
        if (ucpCreateCheckoutSessionRequest == null) {
            logger.error("Missing the required parameter 'ucpCreateCheckoutSessionRequest' when calling ucpCreateCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'ucpCreateCheckoutSessionRequest' when calling ucpCreateCheckoutSession(Async)");
        }
        
        
        okhttp3.Call call = ucpCreateCheckoutSessionCall(ucpCreateCheckoutSessionRequest, idempotencyKey, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create Checkout Session UCP
     * **Step 1 of the UCP checkout flow.**  Creates a new UCP checkout session using Google&#39;s Universal Commerce Protocol format. ACG translates the UCP request into the internal ACP format, applies merchant pricing, and returns a UCP-format session response with a session &#x60;id&#x60;.  UCP uses &#x60;line_items&#x60; (instead of &#x60;items&#x60;) and lowercase header names (&#x60;idempotency-key&#x60;) per the UCP specification.  **Store the &#x60;id&#x60;** from the response — it is required for all subsequent UCP calls. 
     * @param ucpCreateCheckoutSessionRequest UCP checkout session creation payload containing line items, buyer details, currency, and optional payment, fulfillment, and discount information.  (required)
     * @param idempotencyKey Client-generated unique key (UUID recommended) to ensure this request is processed exactly once. Lowercase per UCP specification.  (optional)
     * @return InlineResponse20113
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20113 ucpCreateCheckoutSession(UcpCreateCheckoutSessionRequest ucpCreateCheckoutSessionRequest, String idempotencyKey) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'ucpCreateCheckoutSession' STARTED");
        ApiResponse<InlineResponse20113> resp = ucpCreateCheckoutSessionWithHttpInfo(ucpCreateCheckoutSessionRequest, idempotencyKey);
        logger.info("CALL TO METHOD 'ucpCreateCheckoutSession' ENDED");
        return resp.getData();
    }

    /**
     * Create Checkout Session UCP
     * **Step 1 of the UCP checkout flow.**  Creates a new UCP checkout session using Google&#39;s Universal Commerce Protocol format. ACG translates the UCP request into the internal ACP format, applies merchant pricing, and returns a UCP-format session response with a session &#x60;id&#x60;.  UCP uses &#x60;line_items&#x60; (instead of &#x60;items&#x60;) and lowercase header names (&#x60;idempotency-key&#x60;) per the UCP specification.  **Store the &#x60;id&#x60;** from the response — it is required for all subsequent UCP calls. 
     * @param ucpCreateCheckoutSessionRequest UCP checkout session creation payload containing line items, buyer details, currency, and optional payment, fulfillment, and discount information.  (required)
     * @param idempotencyKey Client-generated unique key (UUID recommended) to ensure this request is processed exactly once. Lowercase per UCP specification.  (optional)
     * @return ApiResponse&lt;InlineResponse20113&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20113> ucpCreateCheckoutSessionWithHttpInfo(UcpCreateCheckoutSessionRequest ucpCreateCheckoutSessionRequest, String idempotencyKey) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = ucpCreateCheckoutSessionValidateBeforeCall(ucpCreateCheckoutSessionRequest, idempotencyKey, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20113>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create Checkout Session UCP (asynchronously)
     * **Step 1 of the UCP checkout flow.**  Creates a new UCP checkout session using Google&#39;s Universal Commerce Protocol format. ACG translates the UCP request into the internal ACP format, applies merchant pricing, and returns a UCP-format session response with a session &#x60;id&#x60;.  UCP uses &#x60;line_items&#x60; (instead of &#x60;items&#x60;) and lowercase header names (&#x60;idempotency-key&#x60;) per the UCP specification.  **Store the &#x60;id&#x60;** from the response — it is required for all subsequent UCP calls. 
     * @param ucpCreateCheckoutSessionRequest UCP checkout session creation payload containing line items, buyer details, currency, and optional payment, fulfillment, and discount information.  (required)
     * @param idempotencyKey Client-generated unique key (UUID recommended) to ensure this request is processed exactly once. Lowercase per UCP specification.  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call ucpCreateCheckoutSessionAsync(UcpCreateCheckoutSessionRequest ucpCreateCheckoutSessionRequest, String idempotencyKey, final ApiCallback<InlineResponse20113> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = ucpCreateCheckoutSessionValidateBeforeCall(ucpCreateCheckoutSessionRequest, idempotencyKey, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20113>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for ucpGetCheckoutSession
     * @param sessionId The unique identifier of the UCP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param ucpGetCheckoutSessionRequest Empty request body. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call ucpGetCheckoutSessionCall(String sessionId, Object ucpGetCheckoutSessionRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(ucpGetCheckoutSessionRequest, Object.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "false";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "ucpGetCheckoutSession,ucpGetCheckoutSessionAsync,ucpGetCheckoutSessionWithHttpInfo,ucpGetCheckoutSessionCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "ucpGetCheckoutSession,ucpGetCheckoutSessionAsync,ucpGetCheckoutSessionWithHttpInfo,ucpGetCheckoutSessionCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout-sessions/{session_id}"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call ucpGetCheckoutSessionValidateBeforeCall(String sessionId, Object ucpGetCheckoutSessionRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            logger.error("Missing the required parameter 'sessionId' when calling ucpGetCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'sessionId' when calling ucpGetCheckoutSession(Async)");
        }
        
        // verify the required parameter 'ucpGetCheckoutSessionRequest' is set
        if (ucpGetCheckoutSessionRequest == null) {
            logger.error("Missing the required parameter 'ucpGetCheckoutSessionRequest' when calling ucpGetCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'ucpGetCheckoutSessionRequest' when calling ucpGetCheckoutSession(Async)");
        }
        
        
        okhttp3.Call call = ucpGetCheckoutSessionCall(sessionId, ucpGetCheckoutSessionRequest, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get Checkout Session UCP
     * Retrieves the current state of a UCP checkout session.  Use this to verify session status, retrieve updated totals after a fulfillment change, or resume a session after an interruption. 
     * @param sessionId The unique identifier of the UCP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param ucpGetCheckoutSessionRequest Empty request body. (required)
     * @return InlineResponse20113
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20113 ucpGetCheckoutSession(String sessionId, Object ucpGetCheckoutSessionRequest) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'ucpGetCheckoutSession' STARTED");
        ApiResponse<InlineResponse20113> resp = ucpGetCheckoutSessionWithHttpInfo(sessionId, ucpGetCheckoutSessionRequest);
        logger.info("CALL TO METHOD 'ucpGetCheckoutSession' ENDED");
        return resp.getData();
    }

    /**
     * Get Checkout Session UCP
     * Retrieves the current state of a UCP checkout session.  Use this to verify session status, retrieve updated totals after a fulfillment change, or resume a session after an interruption. 
     * @param sessionId The unique identifier of the UCP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param ucpGetCheckoutSessionRequest Empty request body. (required)
     * @return ApiResponse&lt;InlineResponse20113&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20113> ucpGetCheckoutSessionWithHttpInfo(String sessionId, Object ucpGetCheckoutSessionRequest) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = ucpGetCheckoutSessionValidateBeforeCall(sessionId, ucpGetCheckoutSessionRequest, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20113>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get Checkout Session UCP (asynchronously)
     * Retrieves the current state of a UCP checkout session.  Use this to verify session status, retrieve updated totals after a fulfillment change, or resume a session after an interruption. 
     * @param sessionId The unique identifier of the UCP checkout session to retrieve. Obtained from the &#x60;id&#x60; field in the Create Session response.  (required)
     * @param ucpGetCheckoutSessionRequest Empty request body. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call ucpGetCheckoutSessionAsync(String sessionId, Object ucpGetCheckoutSessionRequest, final ApiCallback<InlineResponse20113> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = ucpGetCheckoutSessionValidateBeforeCall(sessionId, ucpGetCheckoutSessionRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20113>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for ucpUpdateCheckoutSession
     * @param sessionId The unique identifier of the UCP checkout session to update. (required)
     * @param ucpUpdateCheckoutSessionRequest UCP session update payload. All fields are optional — only fields you include will be applied.  (required)
     * @param idempotencyKey Client-generated unique key for idempotency. Lowercase per UCP spec. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call ucpUpdateCheckoutSessionCall(String sessionId, UcpUpdateCheckoutSessionRequest ucpUpdateCheckoutSessionRequest, String idempotencyKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        SdkTracker sdkTracker = new SdkTracker();
        Object localVarPostBody = sdkTracker.insertDeveloperIdTracker(ucpUpdateCheckoutSessionRequest, UcpUpdateCheckoutSessionRequest.class.getSimpleName(), apiClient.merchantConfig.getRunEnvironment(), apiClient.merchantConfig.getDefaultDeveloperId());
        
        String inboundMLEStatus = "mandatory";

        if (MLEUtility.checkIsMLEForAPI(apiClient.merchantConfig, inboundMLEStatus, "ucpUpdateCheckoutSession,ucpUpdateCheckoutSessionAsync,ucpUpdateCheckoutSessionWithHttpInfo,ucpUpdateCheckoutSessionCall")) {
            try {
                localVarPostBody = MLEUtility.encryptRequestPayload(apiClient.merchantConfig, localVarPostBody);
            } catch (MLEException e) {
                logger.error("Failed to encrypt request body {}", e.getMessage(), e);
                throw new ApiException("Failed to encrypt request body : " + e.getMessage());
            }
        }

        boolean isResponseMLEForApi = MLEUtility.checkIsResponseMLEForAPI(apiClient.merchantConfig, "ucpUpdateCheckoutSession,ucpUpdateCheckoutSessionAsync,ucpUpdateCheckoutSessionWithHttpInfo,ucpUpdateCheckoutSessionCall");
        
        // create path and map variables
        String localVarPath = "/icc/v1/checkout-sessions/{session_id}"
            .replaceAll("\\{" + "session_id" + "\\}", apiClient.escapeString(sessionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (idempotencyKey != null)
        localVarHeaderParams.put("idempotency-key", apiClient.parameterToString(idempotencyKey));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/hal+json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json;charset=utf-8"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener, isResponseMLEForApi);
    }
    
    @SuppressWarnings("rawtypes")
    private okhttp3.Call ucpUpdateCheckoutSessionValidateBeforeCall(String sessionId, UcpUpdateCheckoutSessionRequest ucpUpdateCheckoutSessionRequest, String idempotencyKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException, ConfigException {
        
        // verify the required parameter 'sessionId' is set
        if (sessionId == null) {
            logger.error("Missing the required parameter 'sessionId' when calling ucpUpdateCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'sessionId' when calling ucpUpdateCheckoutSession(Async)");
        }
        
        // verify the required parameter 'ucpUpdateCheckoutSessionRequest' is set
        if (ucpUpdateCheckoutSessionRequest == null) {
            logger.error("Missing the required parameter 'ucpUpdateCheckoutSessionRequest' when calling ucpUpdateCheckoutSession(Async)");
            throw new ApiException("Missing the required parameter 'ucpUpdateCheckoutSessionRequest' when calling ucpUpdateCheckoutSession(Async)");
        }
        
        
        okhttp3.Call call = ucpUpdateCheckoutSessionCall(sessionId, ucpUpdateCheckoutSessionRequest, idempotencyKey, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Update Checkout Session UCP
     * Modifies an active UCP checkout session and returns the updated session state.  Use this to change line item quantities, update fulfillment address or method, or apply discount codes. Totals are recalculated and returned in the response.  Only the fields you include in the request body are updated. 
     * @param sessionId The unique identifier of the UCP checkout session to update. (required)
     * @param ucpUpdateCheckoutSessionRequest UCP session update payload. All fields are optional — only fields you include will be applied.  (required)
     * @param idempotencyKey Client-generated unique key for idempotency. Lowercase per UCP spec. (optional)
     * @return InlineResponse20113
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public InlineResponse20113 ucpUpdateCheckoutSession(String sessionId, UcpUpdateCheckoutSessionRequest ucpUpdateCheckoutSessionRequest, String idempotencyKey) throws ApiException, ConfigException {
        logger.info("CALL TO METHOD 'ucpUpdateCheckoutSession' STARTED");
        ApiResponse<InlineResponse20113> resp = ucpUpdateCheckoutSessionWithHttpInfo(sessionId, ucpUpdateCheckoutSessionRequest, idempotencyKey);
        logger.info("CALL TO METHOD 'ucpUpdateCheckoutSession' ENDED");
        return resp.getData();
    }

    /**
     * Update Checkout Session UCP
     * Modifies an active UCP checkout session and returns the updated session state.  Use this to change line item quantities, update fulfillment address or method, or apply discount codes. Totals are recalculated and returned in the response.  Only the fields you include in the request body are updated. 
     * @param sessionId The unique identifier of the UCP checkout session to update. (required)
     * @param ucpUpdateCheckoutSessionRequest UCP session update payload. All fields are optional — only fields you include will be applied.  (required)
     * @param idempotencyKey Client-generated unique key for idempotency. Lowercase per UCP spec. (optional)
     * @return ApiResponse&lt;InlineResponse20113&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public ApiResponse<InlineResponse20113> ucpUpdateCheckoutSessionWithHttpInfo(String sessionId, UcpUpdateCheckoutSessionRequest ucpUpdateCheckoutSessionRequest, String idempotencyKey) throws ApiException, ConfigException {
        this.apiClient.setComputationStartTime(System.nanoTime());
        okhttp3.Call call = ucpUpdateCheckoutSessionValidateBeforeCall(sessionId, ucpUpdateCheckoutSessionRequest, idempotencyKey, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20113>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update Checkout Session UCP (asynchronously)
     * Modifies an active UCP checkout session and returns the updated session state.  Use this to change line item quantities, update fulfillment address or method, or apply discount codes. Totals are recalculated and returned in the response.  Only the fields you include in the request body are updated. 
     * @param sessionId The unique identifier of the UCP checkout session to update. (required)
     * @param ucpUpdateCheckoutSessionRequest UCP session update payload. All fields are optional — only fields you include will be applied.  (required)
     * @param idempotencyKey Client-generated unique key for idempotency. Lowercase per UCP spec. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws ConfigException If creation of merchant configuration fails in ApiClient
     */
    public okhttp3.Call ucpUpdateCheckoutSessionAsync(String sessionId, UcpUpdateCheckoutSessionRequest ucpUpdateCheckoutSessionRequest, String idempotencyKey, final ApiCallback<InlineResponse20113> callback) throws ApiException, ConfigException {

        this.apiClient.setComputationStartTime(System.nanoTime());
        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = ucpUpdateCheckoutSessionValidateBeforeCall(sessionId, ucpUpdateCheckoutSessionRequest, idempotencyKey, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20113>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
